.badge {
  min-width: 14px;
  height: 14px;
  line-height: 14px;
  font-size: 8px;
  font-weight: bolder;
  padding: 2px 4px;
  border-radius: 100px;
  text-align: center;
  color: #000;
  background-color: #DDF; 
  border:solid 2px #66F;
}
