@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+JP&display=swap');

:host {
  display: block;
}

.white {
  width: 100%;
  overflow-x: hidden;
  background: #FFF;
  color: #000;
}
.grey {
  width: 100%;
  overflow-x: hidden;
  background: #CCC;
  color: #000;
}
.black {
  width: 100%;
  overflow-x: hidden;
  background: #212121;
  color: #FFF;
}
.message {
  display: flex;
  flex-flow: row nowrap;
  box-sizing: border-box;
  padding: 5px 5px;
  width: 100%;
  word-wrap: break-word;
  overflow-wrap: anywhere;
  word-break: break-word;
  border-bottom:1px dotted #999;
  border-left: 4px solid #555;
}

.direct-message {
  background-color: #555;
  color: #DDD;
  border-bottom: 1px dotted #CCC;
  border-left: 4px solid #555;
}

.is-black.direct-message {
  background-color: #666;
  color: #DDD;
  border-bottom: 1px dotted #CCC;
}

.message .image {
  padding: 0px;
  width: 50px;
  height: 50px;
  flex-shrink: 0;
  vertical-align: top;
}
.message .image img {
  width: 100%;
  height: 100%;
  vertical-align: bottom;
  object-fit: cover;
  object-position: 50% 0%;
  border-radius: 0.5rem;
}
.message .body {
  flex-grow: 1;
}
.message .title {
  vertical-align: top;
  font-size: 14px;
  padding-left: 12px;
  padding-right: 12px;
}
.inverse {
  transform: scaleX(-1);
}
.hollow {
  opacity: 0.6;
  filter: blur(1px);
}
.black-paint {
  filter: brightness(0);
}

.message .text {
  vertical-align: top;
  font-family: 'Noto Sans JP', sans-serif;
  text-shadow    :
       -0.1px  -0.1px 0px #222,
       0.1px  0.1px 0px #666;
  padding: 2px 12px 0 12px;
}
.message .tip {
  font-size: 8px;
  padding-left: 12px;
}

.msg-name {
  font-weight: bold;
}

.msg-text {
  white-space: pre-wrap;
}

.dicebot-message .msg-name {
  font-size: 8px;
}

.dicebot-message .msg-text {
  color:#22F;
}

.direct-message.dicebot-message .msg-text {
  color:#CCF;
}

.is-black.dicebot-message .msg-text {
  color: #CCF;
}

.is-black.direct-message.dicebot-message .msg-text {
  color:#EEF;
}

.dicebot-message {
  border-left: 4px transparent;
}

.edited {
  margin-left: 0.5em;
  color: #666;
}

.edited.is-black {
  color: #888;
}

.aura {
  transition: filter 0.3s ease-in-out;
}

.aura.black {
  filter: drop-shadow(0 -4px 4px black);
}
.aura.blue {
  filter: drop-shadow(0 -4px 4px #00f);
}
.aura.green {
  filter: drop-shadow(0 -4px 4px #3f3);
}
.aura.cyan {
  filter: drop-shadow(0 -4px 4px #3ff);
}
.aura.red {
  filter: drop-shadow(0 -4px 4px #f00);
}
.aura.magenta {
  filter: drop-shadow(0 -4px 4px #f0f);
}
.aura.yellow {
  filter: drop-shadow(0 -4px 4px #ff3);
}
.aura.white {
  filter: drop-shadow(0 -4px 6px #ccc) drop-shadow(0 -4px 4px #fff);
}
