@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+JP&display=swap');

:host {
  display: block;
}

.container {
  width: 100%;
  overflow-x: hidden;
}
.message {
  display: flex;
  flex-flow: row nowrap;
  box-sizing: border-box;
  padding: 5px 5px;
  color: #000;
  width: 100%;
  word-wrap: break-word;
  overflow-wrap: anywhere;
  word-break: break-word;
  border-bottom:1px dotted #999;
}
.is-mine.message {
  border-left: 4px solid #555;
}
.is-others.message {
  border-right: 4px solid #555;
}

.direct-message {
  background-color: #555;
  color: #DDD;
  border-bottom: 1px dotted #CCC;
}
.is-mine.direct-message {
  border-left: 4px solid #555;
}
.is-others.direct-message {
  border-right: 4px solid #555;
}

.message .image {
  padding: 0px;
  width: 50px;
  height: 50px;
  flex-shrink: 0;
  vertical-align: top;
}
.message .image img {
  width: 100%;
  height: 100%;
  vertical-align: bottom;
  object-fit: cover;
  object-position: 50% 0%;
  border-radius: 0.5rem;
}
.message .body {
  flex-grow: 1;
}
.message .title {
  vertical-align: top;
  font-size: 14px;
  color: #444;
  padding-left: 12px;
  padding-right: 12px;
}
.inverse {
  transform: scaleX(-1);
}
.hollow {
  opacity: 0.6;
  filter: blur(1px);
}
.black-paint {
  filter: brightness(0);
}

.message .ease {
  vertical-align: top;
  font-family: 'Noto Sans JP', sans-serif;
  text-shadow    :
       -0.1px  -0.1px 0px #222,
       0.1px  0.1px 0px #666;
  padding: 0 12px 0 12px;
  /*font-size: 15px;*/
}

.message .text {
  vertical-align: top;
  font-family: 'Noto Sans JP', sans-serif;
  text-shadow    :
       -0.1px  -0.1px 0px #222,
       0.1px  0.1px 0px #666;
  padding: 2px 12px 0 12px;
  /*font-size: 15px;*/
}
.message .tip {
  font-size: 8px;
  padding-left: 12px;
}

.msg-name {
  font-weight: bold;
}

.msg-text {
  white-space: pre-wrap;
}

.dicebot-message .msg-name {
  font-size: 8px;
}

.dicebot-message .msg-text {
  color:#22F;
}

.direct-message.dicebot-message .msg-text {
  color:#CCF;
}

.direct-message .msg-name {
  color:#dde;
}
.direct-message .title {
  color:#dde;
}

.dicebot-message {
  border-left: 4px transparent;
}

.is-others .title {
  text-align: right;
}

.is-others .msg-ease {
}

.is-others .msg-text {
  text-align: right;
}
.is-others .msg-text span {
  display: inline-block;
  text-align: left;
  max-width: 100%
}

.aura {
  transition: filter 0.3s ease-in-out;
}

.aura.black {
  filter: drop-shadow(0 -4px 4px black);
}
.aura.blue {
  filter: drop-shadow(0 -4px 4px #00f);
}
.aura.green {
  filter: drop-shadow(0 -4px 4px #3f3);
}
.aura.cyan {
  filter: drop-shadow(0 -4px 4px #3ff);
}
.aura.red {
  filter: drop-shadow(0 -4px 4px #f00);
}
.aura.magenta {
  filter: drop-shadow(0 -4px 4px #f0f);
}
.aura.yellow {
  filter: drop-shadow(0 -4px 4px #ff3);
}
.aura.white {
  filter: drop-shadow(0 -4px 6px #ccc) drop-shadow(0 -4px 4px #fff);
}
