.container {
  width: 100%;
  display:flex;
  flex-flow: column nowrap;
  justify-content: flex-start;
}

.title {
  width: 100%;
  font-size:14px;
  font-weight: bolder;
  background-color: #222;
  text-align: center;
}

.section {
  width: 100%;
  display:flex;
  flex-flow: row nowrap;
}

.image {
  display: block;
  width: 300px;
}

.image img{
  max-width: 300px;
  height: auto;
  max-height:100%;
  vertical-align: bottom;
}
.description {
  display: block;
  width: calc(100% - 300px);
  font-size:12px;
}
