.selecter {
  position: relative;
  margin: 0;
}

.setting {
  left: 180px;
  top: 3px;
  position: absolute;
  height: 30px;
  width: calc(100% - 180px);
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.select {
  width: 12em;
  position: absolute;
  top: 8px;
  left: 8px;
}

.text-space {
  width: 9em;
  position: absolute;
  overflow:hidden;
  top: 8px;
  left: 40px;
  z-index: 5;
}

.name {
  width: 8em;
  white-space: nowrap;
  font-size: 14px;
  font-weight: bold;
  font-family: 'Noto Sans JP', sans-serif;
  text-shadow    :
       -0.1px  -0.1px 0px #222,
       0.1px  0.1px 0px #666;
}

.tag {
  font-size: 10px;
  color: black;
}

.image{
  position: absolute;
  left: 0;
  top: 0;
  width: 75px;
  height: 75px;
  vertical-align: top;
  text-align: center;
  object-fit: cover;
  object-position: 50% 0%;
  border-radius: 0.5rem;
}

.front-image {
  z-index: 4;
}

.aura {
  z-index: 3;
  transition: filter 0.2s ease-in-out;
}
