
.component {
  padding: 0px 5px;
  font-size: 14px;
  display: flex;
}

.grid-container {
  display: grid;
}

.frame {
  margin: 0px 3px;
  max-width: 10em;
}

.section {
  max-width: 8em;
}


.edit {
  height: 2em; 
  padding: 0px 5px;
  font-size: 14px;
  display: flex;
}
