
.component {
  height: 50px;
  box-sizing: border-box;
  padding: 0px 5px;
  font-size: 14px;
  display: flex;
  align-items: center;
}

.grid-container {
  display: grid;
}

.frame {
  margin: 0px 3px;
  max-width: 10em;
}

.section {
  max-width: 8em;
}


.edit {
  height: 46px;
  padding: 0px 5px;
  font-size: 14px;
  display: flex;
  align-items: center;
}
