@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

.frame {
  width:100%;
  height:100%;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
}

.item {
  width:100%;
  display: flex;
  flex-direction: row;
}

.peer-select {
  width : 100%;
  font-size: 12px;
}

.small-text {
  font-size: 12px;
}

.title {
  font-size: 16px;
  font-weight: bold;
  font-family: 'Roboto', sans-serif;  
}

.control {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.auth {
  display: flex;
  flex-direction: row;
}

.password {
  display: flex;
  flex-direction: column;
}

.control-text {
  font-size: 12px;
}

.allowPlayers {
  font-size: 10px;
}

.type-select {
  width: 80px;
  border:none;
  padding: 0;
  margin: 0;
  white-space: nowrap;
}

.type-select input[type="checkbox"] {
  display: none;
}

.type-select input[type="checkbox"] + div {
  position: relative;
  cursor: pointer;
  display: inline-block;
  text-align: center;
  width: 72px;
  height: 24px;
  color: #EEE;
  font-size: 12px;
  background-color: #666;
  border: 2px solid #000;
  box-shadow: inset 0 0 2px 2px #222;
  border-radius: 3px;
}

.type-select input[type="checkbox"] + div::after {
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  margin: auto;
  content : "テキスト";
}

.type-select input[type="checkbox"]:checked + div {
  background-color: #666;
}
.type-select input[type="checkbox"]:checked + div::after {
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  margin: auto;
  content : "画像";
}

.type-select input[type="checkbox"] + div > div {
   position: absolute;
    top: 1px;
    left: 2px;
    width: 7px;
    height: 20px;
    border: 1px solid #444;
    border-radius: 3px;
    background-color: #BBB;
    transition: 0.2s;
}

.type-select input[type="checkbox"]:checked + div > div {
    left: 61px;
}

.imageEdit {
  display: flex;
  width: 480px;
  height: 270px;
  justify-content: center;
  align-items: center;
  padding: 0px;
  vertical-align: top;
  background-position: center;
  background-repeat: no-repeat;
  background-size :contain;
}

.image-area {
  display: flex;
  width: 480px;
  height: 270px;
  margin: 0;
  padding: 0;
  justify-content: center;
  align-items: center;

}

.image {
  max-width: 480px;
  max-height: 270px;
  object-fit: scale-down;
}