.draggable-panel {
  box-sizing: border-box;
  overflow: visible;
  position: absolute;

  color: #FFF;
  background: linear-gradient(-30deg, rgba(40,40,40, 0.9), rgba(100,100,100, 0.9));
  border: solid 1px #999;
  border-bottom: ridge 4px #212121;
  
  padding: 0px;
  top: 200px;

  height: 200px;
  width: 300px;
  max-height: 100%;
  max-width: 100%;
}

.scrollable-panel {
  box-sizing: border-box;
  overflow: auto;
  position: absolute;
  top: 25px;
  bottom: 0;
  width: 100%;
  padding: 8px;
  overscroll-behavior: contain;
  -webkit-overflow-scrolling: touch;
}

.scrollable-panel::-webkit-scrollbar {
  width: 7px;
  height: 7px;
}
.scrollable-panel::-webkit-scrollbar-thumb {
  background-color: #444;
  border-radius: 5px;
}
.scrollable-panel::-webkit-scrollbar-track {
  background: #dcdcdc;
}

.title {
  overflow: hidden;
  white-space: nowrap;
  box-sizing: border-box;
  font-size: 12px;
  height: 25px;
  padding: 2px 5px;
  width: 100%;
  background: linear-gradient(0deg, #212121 0%, #424242 10%, #D0D0D0 20%, #424242 40% ,#323232 60%,#424242 80% , #BABABA 85%, #424242 90%, #212121 100% 100%);
  color: #FFF;
  border-left: ridge 2px #212121;
  border-right: ridge 2px #212121;
  user-select: none;
}

.title-text {
  background: linear-gradient(90deg, #424242 0%, #212121 5%, #212121 95%, #424242 100% 100%);
}

.title-button {
  position: absolute;
  right: 0;
  top: 0;
}

.title button {
  background: none;
  border: none;
  border-radius: 0;
  outline: none;
  color: #CCC;
}

.pointer-events-none {
  pointer-events: none;
}

button {
  background-color: #eee;
  color: #444;
  border: solid 1px #444;
  padding: 0.35em 0.7em;
  margin: 0 2px;
  border-radius: 4px;
  cursor: pointer;
  cursor: hand;
}
button:hover {
  background-color: #cfd8dc;
}
