.background {
  position: relative;
  background-color: #212121;
  width: 100%;
  height: 100%
}

.menu {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  margin: auto;
  width: 550px;
  height: 600px;
  color: #FFF;
  font-size: 14px;
  background: rgb(34,35,38);
  background: linear-gradient(-45deg,  rgba(34,35,38,1) 0%,rgba(51,56,58,1) 5%,rgba(74,79,84,1) 21%,rgba(52,55,58,1) 47%,rgba(69,72,77,1) 71%,rgba(41,42,45,1) 90%,rgba(20,20,20,1) 100%);
  border: solid 2px;
  border-color: #AAAAFF #6666FF #4444FF #CCCCFF;
  border-radius: 10px;
  box-shadow:6px 5px 8px -1px #111;
  display:flex; 
  flex-direction: column;
  padding: 6px; 
}

.top {
  display:flex; 
  flex-direction: row;
  justify-content:space-between;
}

.player {
  display:flex; 
  flex-direction: column;
}

.flex-item {
  width: 300px;
  display:flex; 
  flex-flow: row wrap; 
  justify-content:flex-start;
  font-size: 14px;
}
.item-name {
  width: 6em;
}
.item-data {
  display:flex; 
  flex-flow: row wrap; 
  justify-content:flex-start;

}

.room-select {
  position: relative;
  width:98%;
  height:400px;
  padding: 6px;
  border-radius: 5px;
  background-color: #444;
  border:1px solid #6666FF;
  box-shadow:3px 2px 4px -1px #212121 inset;
}

.room-list {
  width:100%;
  font-size: 12px;
  color: white;
  border: solid 1px #4444FF;
  border-collapse: collapse;
}

.room-list > tr > * {
  border: solid 1px #4444FF;
  padding: 1px 0.5em;
  height: 2em; 
  text-align: center;
}
.title {
  background-color: #212121;
  color: white;
}
.room-name {
  white-space: normal;
  word-wrap: break-word;
  overflow-wrap: anywhere;
  word-break: break-word;
  max-width: 50%;
}
