.flex-container {
  width: 100%;
  display: flex;
  padding: 0;
  margin: 0;
  flex-flow:  column wrap;
  justify-content: flex-start;
  align-items: stretch;
}

.menu{
  width: 100%;
  height: 56px;
  display: flex;
  padding: 0;
  margin: 0;
  background-color: #444;
  white-space: nowrap;
  flex-flow:  row nowrap;
  justify-content: flex-start;
  overflow-x: auto;
}

.menu-button {
  height: 36px;
  
}

.select {
  background: #AAA;
  color: #000;
}

.sub-menu {
  width: 100%;
  min-height: 10px;
  background-color: #444;
}
