<div class="container">
  <div id="menu" class="menu">
    <div id="menu" class="left">
      <button class="select" [ngStyle]="{'border': this.selectMenu == 'file' ? '2px solid #000' : '2px solid #989898'}"
        (click)='openSubMenu($event,"file")'>
          <span *ngIf="!minimumMode; else miniFile">ファイル{{isOpen("file")}}
      </span></button>
      <button class="select" [ngStyle]="{'border': this.selectMenu == 'room' ? '2px solid #000' : '2px solid #989898'}"
        (click)='openSubMenu($event,"room")'>
          <span *ngIf="!minimumMode; else miniRoom">ルーム{{isOpen("room")}}
      </span></button>
      <button class="select" [ngStyle]="{'border': this.selectMenu == 'work' ? '2px solid #000' : '2px solid #989898'}"
        (click)='openSubMenu($event,"work")'>
          <span *ngIf="!minimumMode; else miniWork">機能{{isOpen("work")}}
      </span></button>
      <button class="select" [ngStyle]="{'border': this.selectMenu == 'view' ? '2px solid #000' : '2px solid #989898'}"
        (click)='openSubMenu($event,"view")'>
           <span *ngIf="!minimumMode; else miniView">表示{{isOpen("view")}}
      </span></button>
      <round class="select" style="padding: 0" [minimumMode]="this.minimumMode" (contextmenu)="roundContext($event); false" ></round>
    </div>
    <div class="right">
      <div class="select"><network-status  [minimumMode]="this.minimumMode" (contextmenu)="roomMenu($event); false"></network-status></div>
      <button class="select" *ngIf="!minimumMode"  (click)='menuHelp()'>？</button>
    </div>
  </div>
  <div id="app-table-layer" class="game-table">
      <game-table *ngIf="!isFlat;else flat"></game-table>
  </div>
</div>
<div #modalLayer></div>
<div #subMenu class="subMenu"><sub-menu [selectMenu]="this.selectMenu" (closeMe)="closeSub()"></sub-menu></div>
<div class="ui-tray">
  <ui-tray></ui-tray>
</div>
<ng-template #flat>
   <game-table-flat></game-table-flat>
</ng-template>
<ng-template #miniFile>
  <i class="material-icons">
    sd_storage
  </i>
</ng-template>
<ng-template #miniRoom>
  <i class="material-icons">
    people
  </i>
</ng-template>
<ng-template #miniWork>
  <i class="material-icons">
    settings
  </i>
</ng-template>
<ng-template #miniView>
  <i class="material-icons">
    emoji_objects
  </i>
</ng-template>
