.container {
  width: 100%;
  height: 100%;
}

.menu {
  position: absolute;
  left: 0px;
  top: 0px;
  z-index: 100;
  width: 100%;
  height: 50px;
  box-sizing: border-box;
  overflow: hidden;
  display:flex;
  flex-direction: row;
  justify-content:space-between;
  padding: 6px;
  background-color: #212121;
  box-shadow:
    0px 4px 4px 0 #000 inset,
    0px -4px 4px -2px #fff inset;
  border-bottom:solid 1px #FFF;
}

.game-table {
  position: absolute;
  left: 0px;
  top: 40px;
  width: 100%;
  height: calc(100vh - 40px);
  overflow: hidden;
}

.select {
  padding: 4px;
  margin: 1px 2px;
  font-size: 14px;
  color: #FFF;
  background: #424242;
  border:1px solid;
  border-color: #AAA #666 #444 #FFF;
  box-shadow:1px 1px 5px -1px #222 inset
}

.select-off {
  border-color: #111;
  background: #222;
}

.select::after {
  background: none;
}

.left {
  padding: 0px;
  margin: 0px;
  display:flex;
  flex-direction: row;
  justify-content: flex-start;
}

.right {
  padding: 0;
  margin: 0px;
  display:flex;
  flex-direction: row;
  justify-content: flex-end;
}

.subMenu {
  position: absolute;
  z-index: 40;
  background: none;
}

.ui-tray {
  position: absolute;
  top: 50px;
  left: calc(100% - 300px);
  padding:0;
  margin:0;
  width: 300px;
}
