@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+JP&family=Zen+Antique&display=swap');

:host {
  display: block;
}

.white {
  width: 100%;
  overflow-x: hidden;
  background: #FFF;
  color: #000;
}
.grey {
  width: 100%;
  overflow-x: hidden;
  background: #CCC;
  color: #000;
}
.black {
  width: 100%;
  overflow-x: hidden;
  background: #212121;
  color: #FFF;
}
.message {
  display: flex;
  flex-flow: row nowrap;
  box-sizing: border-box;
  padding: 5px 5px;
  width: 100%;
  word-wrap: break-word;
  overflow-wrap: anywhere;
  word-break: break-word;
  border-bottom:1px dotted #999;
  border-left: 4px solid #555;
}

.direct-message {
  background-color: #555;
  color: #DDD;
  border-bottom: 1px dotted #CCC;
  border-left: 4px solid #555;
}

.is-black.direct-message {
  background-color: #666;
  color: #DDD;
  border-bottom: 1px dotted #CCC;
}

.message .image {
  position: relative;
  padding: 0px;
  width: 50px;
  height: 50px;
  flex-shrink: 0;
  vertical-align: top;
}
.message .image img {
  position: absolute;
  left: 0;
  top: 0;
  width: 50px;
  height: 50px;
  vertical-align: bottom;
  object-fit: cover;
  object-position: 50% 0%;
  border-radius: 0.5rem;
}

.message .body {
  flex-grow: 1;
}
.message .title {
  vertical-align: top;
  font-size: 14px;
  padding-left: 12px;
  padding-right: 12px;
}

.message .text {
  vertical-align: top;
  font-family: 'Noto Sans JP', sans-serif;
  text-shadow    :
       -0.1px  -0.1px 0px #222,
       0.1px  0.1px 0px #666;
  padding: 2px 12px 0 12px;
}

::ng-deep .rubytext {
  font-family: 'Zen Antique', serif;
  font-size: 120%;
}

.message .tip {
  font-size: 8px;
  padding-left: 12px;
}

.msg-name {
  font-weight: bold;
}

.msg-text {
  white-space: pre-wrap;
}

.dicebot-message .msg-name {
  font-size: 8px;
}

.dicebot-message .msg-text {
  color:#22F;
}

.direct-message.dicebot-message .msg-text {
  color:#CCF;
}

.is-black.dicebot-message .msg-text {
  color: #CCF;
}

.is-black.direct-message.dicebot-message .msg-text {
  color:#EEF;
}

.dicebot-message {
  border-left: 4px transparent;
}

.edited {
  margin-left: 0.5em;
  color: #666;
}

.edited.is-black {
  color: #888;
}

.front-image {
  z-index: 1;
}

.aura {
  z-index: 0;
  transition: filter 0.2s ease-in-out;
}
