.inner-note-container {
  width:300px;
  padding:0;
  box-sizing: border-box;
  overflow: hidden auto;
  line-height: 1.8;
  border-left: solid 1px #BBB;
  border-right: solid 1px #BBB;
}

.inner-note {
  width: 100%;
  font: inherit;
  font-size: inherit;
  line-height: inherit;
  background: none;
  border: none;
  border-radius: 2px;
  outline: none;
  color: #FFF;
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  resize: none;
  overflow-y: visible;
  white-space: nowrap;
}

.charaSW {
  background: #666;
  width:7em;
  padding: 4px;
}

.charaSW::after {
  background: none;
}
