.component {
  position: absolute;
  max-height: 100%;
  max-width: 100%;
  box-sizing: border-box;
  overflow: visible;
  color: #FFF;
  z-index: 9000;
  overscroll-behavior: contain;
  -webkit-overflow-scrolling: touch;
}

.component-content {
  font-size: 12px;
}

.character-image {
  position: absolute;
  bottom:-10px;
  left: 0;
  padding: 0;
  width: 100%;
  vertical-align: bottom;
}

.front-image {
  bottom:-34px;
  z-index: 2;

}

.aura {
  z-index: 1;
  bottom:-34px;
  transition: filter 0.2s ease-in-out;
}

.note {
  margin-left: 0.5em;
  font-size: 1em;
  line-height: 1.8;
}

.textarea {
  width: 100%;
  height: 100%;
  font: inherit;
  font-size: inherit;
  line-height: inherit;
  background: none;
  border: none;
  border-radius: 2px;
  outline: none;
  color: #FFF;
  padding: 0;
  box-sizing: border-box;
  resize: both;
  overflow: hidden;
  white-space: pre-wrap;
  word-wrap: break-word;
  overflow-wrap: anywhere;
  word-break: break-word;
}

.textarea:hover {
  background: #212121;
}

.textarea:focus {
  background: #212121;
}

.tag {
  padding-right: 1em;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  min-width: 7em;
}

.value {
  font-size: 1.2em;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  text-align: right;
}

.hidden-spacer {
  visibility: hidden;
  height: 0px;
  min-width: 3em;
  overflow: hidden;
  white-space: pre-wrap;
}

.textarea-spacer {
  visibility: hidden;
  min-width: 3em;
  height: auto;
  min-height: 24px;
  overflow: hidden;
  white-space: pre-wrap;
  word-wrap: break-word;
  overflow-wrap: anywhere;
  word-break: break-word;
}

.input {
  min-width: 3em;
  text-align: right;
  font: inherit;
  font-size: inherit;
  line-height: inherit;
  background: none;
  border: none;
  border-radius: 2px;
  outline: none;
  color: #FFF;
  padding: 0;
  box-sizing: border-box;
}

.border {
  border-bottom: 1px dotted #BBB;
}

.separator {
  padding: 2px 0 2px 0;
  border-bottom: 1px solid #BBB;
}

.with-button-marign {
  padding-left : 60px;
}

.is-fill {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

.is-bold {
  font-weight: bold;
}

.is-pointer-events-none {
  pointer-events: none;
}

.is-pointer-events-auto {
  pointer-events: auto;
}

button.link {
/*.input {*/
  background: none;
  border: none;
  border-radius: 2px;
  outline: none;

  color: #FFF;
  font-family: Cambria, Georgia;
  font-size: 1.0em;
  padding: 2px;
  box-sizing: border-box;
}

button.link i {
  font-size: 1.0rem;
  color: #FFF
}

button.link:hover i {
  color: #CCC;
}

button.link:disabled i {
  color: gray;
}
button.link:disabled:hover {
  background-color: transparent;
}

.text {
  transform-origin: left top;

  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  pointer-events: none;

  font-weight: bolder;
  text-align: center;
  white-space: pre-wrap;
  word-wrap: break-word;
  overflow-wrap: anywhere;
  word-break: break-word;
  font-size: 24px;
  color: #FFF;
  z-index: 5;
  overflow: hidden;
  text-overflow: ellipsis;
}

.counter-container {
  width: 100%;
  display:flex;
  flex-direction: row;
  flex-wrap: wrap;
  padding: 1px;
}

.counter {
  border: solid 1px #222;
  background-color: #DDD;
  font-weight: bolder;
  text-shadow: #FFF 1px 1px 0px;
  padding: 2px 6px;
  margin: 2px;
  border-radius: 100px;
}

.hide-area {
  overflow: hidden !important;
  font-size: 0pt !important;
  width: 0px !important;
  height: 0px !important;
  margin: 0px !important;
  padding: 0px !important;
  border: 0px none !important;
}

.note-text {
  color: #FFF;
  min-width: 3em;
  height: auto;
  min-height: 24px;
  overflow: hidden;
  white-space: pre-wrap;
  word-wrap: break-word;
  overflow-wrap: anywhere;
  word-break: break-word;
}

.hide-text-area {
  color: transparent;
}
