.palletebase{
  background-color: rgba(240, 240, 240, 0.9);
}

.edit-info {
  width: 100%;
  text-align: center;
  color: #CCC;
  background-color: rgba(30, 30, 30, 0.8);
}
.palette {
/*.input {*/
  box-sizing: border-box;
  font-family: -apple-system, BlinkMacSystemFont, "Helvetica Neue", Verdana, Meiryo, sans-serif;
  width: 100%;
  height: 100%;
}

.flex-container {
  display: flex;
  background-color: rgba(240, 240, 240, 0.8);
  flex-direction: column;
  height: 100%;
}

.Chat-Input {
  flex-grow: 0;
}

.Character-Control {
  max-height : 60px; 
  overflow: auto;
}
.Character-Select {
  min-height : 24px;
  overflow: auto;
  padding : 0 5px 0px 5px;
  user-select: none;
}

.Chat-Pallete {
  flex-grow: 1;
  height: 0;
  min-height: 100px;
}

.Bottom-Control {
  height : 38px; 
  display: flex;
}

.bottuns { 
  user-select: none;
  float: left;
}

.control { 
  user-select: none;
  float: center;
  display: column;
}

.CharacterAdd {
  padding : 0 5px 0px 5px;
  user-select: none;
  float: right;
}

.imgicon {
  width: 24px;
  height: 24px;
}

.comment {
  font-size: 8px;
}

.Character-Select label {
  display: inline-block;
  position: relative;
}

.Character-Select input[type="radio"] {
  display: none;
}

.Character-Select input[type="radio"] + div {
  display: inline-block;
  vertical-align: middle;
  outline: 0;
  font-size: 10px;
  font-weight: bold;
  background-color: transparent;
  color: #000;
  border: solid 1px #555;
  padding: 2px 8px;
  margin: 2px;
  border-radius: 100px;
  cursor: pointer;
}

.Character-Select input[type="radio"] + div:hover {
  background-color: #888;
  color: #eee;
  border: solid 1px #555;
}

.Character-Select input[type="radio"]:checked + div {
  background: #555;
  color: #CCC;
}

.chat-tab {
  padding : 0 5px 5px 5px;
  user-select: none;
}

.chat-tab label {
  display: inline-block;
  position: relative;
}

.chat-tab input[type="radio"] {
  display: none;
}

.chat-tab input[type="radio"] + div {
  display: inline-block;
  vertical-align: middle;
  outline: 0;
  font-size: 8px;
  background-color: transparent;
  color: #444; 
  border: solid 1px #555;
  padding: 2px 8px;
  margin: 2px;
  border-radius: 100px;
  cursor: pointer;
}

.chat-tab input[type="radio"] + div:hover {
  background-color: #888;
  color: #eee;
  border: solid 1px #555;
}

.chat-tab input[type="radio"]:checked + div {
  background: #555;
  color: #CCC;
}

.badge {
  position: absolute;
  top: -4px;
  right: 0;
}

