.flex-container {
  margin: -4px;
  margin-bottom: -8px;
  display: flex;
  flex-direction: column;
  height: 100%;
}

.top {
  display: flex;
  flex-direction: column;
  padding :0;
  margin :0;
  background-image: linear-gradient(
    -45deg, rgba(34,35,38,1) 0%,rgba(51,56,58,1) 5%,rgba(74,79,84,1) 21%,rgba(52,55,58,1) 47%,rgba(69,72,77,1) 71%,rgba(41,42,45,1) 90%,rgba(20,20,20,1) 100%);
}

.chat-tab-container {
  width: 100%;
  display: flex;
  flex-flow: row nowrap;
  background-color: #444;
  box-shadow:0px -8px 8px 1px #222 inset;
  border:none;
  border-bottom:2px solid #222;
  border-bottom-right-radius: 10px;
  padding :0;
  margin :0;
}

.chat-tab {
  padding : 5px;
  padding-top : 0px;
  margin-top : 0px;
  user-select: none;
  white-space: nowrap;
  overflow-x: scroll;
  overflow-y: hidden;
}

.chat-tab label {
  display: inline-block;
  position: relative;
}

.chat-tab input[type="radio"] {
  display: none;
}

.chat-tab input[type="radio"] + div {
  display: inline-block;
  vertical-align: middle;
  outline: 0;
  font-size: 11px;
  background-color: #777;
  border: solid 2px #222;
  padding-top : 0px;
  margin-top : 0px;
  padding: 2px 8px;
  margin: 2px;
  border-bottom-right-radius: 6px;
  border-bottom-left-radius: 6px;
  cursor: pointer;
}

.chat-tab input[type="radio"] + div:hover {
  background-color: #AAA;
  color: #000;
}

.chat-tab input[type="radio"]:checked + div {
  border-top: none;
  font-weight: bold;
  background: #CCC;
  color: #222;
}

.chat-tab::-webkit-scrollbar {
  height: 5px;
}
.chat-tab::-webkit-scrollbar-thumb {
  background-color: #ddd;
  border-radius: 5px;
}
.chat-tab::-webkit-scrollbar-track {
  background: #444;
}

.chat-input {
  flex-grow: 0;
}

.character-control {
  height : 45px;
  overflow: auto;
}

.character-select {
  min-height : 32px;
  max-height : 64px;
  overflow: auto;
  padding : 0 5px 0px 5px;
  user-select: none;
  background-color: rgb(34,35,38);
}

.character-select::-webkit-scrollbar {
  height: 5px;
  width: 7px;
}
.character-select::-webkit-scrollbar-thumb {
  background-color: #ddd;
  border-radius: 5px;
}
.character-select::-webkit-scrollbar-track {
  background: #444;
}

.character-select label {
  display: inline-block;
  position: relative;
}

.character-select input[type="radio"] {
  display: none;
}

.character-select input[type="radio"] + div {
  display: inline-block;
  vertical-align: middle;
  outline: 0;
  font-size: 10px;
  font-weight: bold;
  background-color: transparent;
  color: #FFF;
  border: solid 1px #555;
  padding: 2px 8px;
  margin: 2px;
  border-radius: 5px;
  cursor: pointer;
}

.character-select input[type="radio"] + div:hover {
  background-color: #888;
  color: #eee;
  border: solid 1px #777;
}

.character-select input[type="radio"]:checked + div {
  background: #555;
  color: #CCC;
}

.imgicon {
  width: 24px;
  height: 24px;
}

.chat-pallete {
  flex-grow: 1;
  height: 0;
  min-height: 100px;
}

.palette {
/*.input {*/
  box-sizing: border-box;
  font-family: -apple-system, BlinkMacSystemFont, "Helvetica Neue", Verdana, Meiryo, sans-serif;
  width: 100%;
  height: 100%;
}

.palette::-webkit-scrollbar {
  height: 5px;
  width: 7px;
}
.palette::-webkit-scrollbar-thumb {
  background-color: #ddd;
  border-radius: 5px;
}
.palette::-webkit-scrollbar-track {
  background: #444;
}

.palletebase{
  background-color: rgba(240, 240, 240, 0.9);
}

.bottom {
  height : 38px;
  display: flex;
  background-color: #444;
}

.edit-info {
  width: 100%;
  text-align: center;
  color: #CCC;
  background-color: rgba(30, 30, 30, 0.8);
}

.bottuns {
  user-select: none;
  white-space:nowrap;
}

.control {
  user-select: none;
  white-space:nowrap;
  display: flex;
  flex-direction: column;
  font-size:12px;
}

.character-add {
  margin:0 0 0 auto;
  display: flex;
  user-select: none;
}

.comment {
  font-size: 8px;
}
