<div class="flex-container">
  <div class="top">
    <div class="chat-tab">
      <form>
        <div class="chat-tab">
          <label *ngFor="let chatTab of chatMessageService.chatTabs">
            <input name="chat-tab" type="radio" value="{{chatTab.identifier}}" ng-control="options" [(ngModel)]="chatTabidentifier">
            <div>{{chatTab.name}}<badge *ngIf="chatTab.hasUnread" class="badge" [count]="chatTab.unreadLength"></badge></div>
          </label>
        </div>
      </form>
    </div>
    <div class="chat-input">
      <chat-input [chatTabidentifier]="chatTabidentifier" [isPalette]="true" 
      [sendFrom]="sendFrom" [(text)]="text" (chat)="sendChat($event)" #chatInput></chat-input>
    </div>
    <div *ngIf="!disableControl" class="character-control">
      <player-palette-control [sendFrom]="sendFrom" (chat)="sendChat($event)"></player-palette-control>
    </div>
  </div>
  <div #characterSelect class="character-select">
    <label>
      <img *ngIf="myImage" class="imgicon" [src]="myImage.url | safe: 'resourceUrl'" />
      <input type="radio" name="chara-tab" [value]="myIdentifier + ',-1'" [(ngModel)]="selectCharacter">
      <div>{{myPlayer.name}}</div>
    </label>
    <ng-container *ngFor="let gameCharacter of characterPaletteList">
      <label>
        <img *ngIf="gameCharacter.imageFile?.url.length > 0" class="imgicon" [src]="gameCharacter.imageFile.url | safe: 'resourceUrl'" />
        <input type="radio" name="chara-tab" [value]="gameCharacter.identifier + ',-1'" [(ngModel)]="selectCharacter">
        <div  (contextmenu)="displayContextMenu($event,gameCharacter); false">{{gameCharacter.name}}</div>
      </label>
      <label *ngFor="let palette of subPalette(gameCharacter)?.palette; index as i ">
        <img *ngIf="gameCharacter.imageFile?.url.length > 0" class="imgicon" [src]="gameCharacter.imageFile.url | safe: 'resourceUrl'" />
        <input type="radio" name="chara-tab" [value]="gameCharacter.identifier + ',' + i" [(ngModel)]="selectCharacter">
        <div  (contextmenu)="displayContextMenu($event,gameCharacter); false">{{palette.paletteLines[0].palette}}</div>
      </label>
    </ng-container>
  </div>
  <div *ngIf="showPalette && !isEdit" class="chat-pallete">
    <select class="palette" style="overflow-y: auto;" size="5" (input)="selectPalette($event.target.value)" (click)="clickPalette($event.target.value)" #chatPlette>
      <ng-container *ngIf="palette">
        <ng-container *ngFor="let palette of palette.getPalette()">
          <option value="{{palette}}" [style.color]="color === '#444444' ? '#ddd' : color">{{palette}}</option>
        </ng-container>
      </ng-container>
    </select>
  </div>
  <div *ngIf="showPalette && isEdit" style="flex-grow: 1; height: 0; min-height: 100px;">
    <textarea class="palette" style="resize: none; color: #ddd" [(ngModel)]="editPalette" placeholder="チャットパレット"></textarea>
  </div>
  <div class="bottom">
    <div class="control">
      <span>チャットパレット</span>
      <div class="toggle"><label>
        <input name="showPalette" type="checkbox" [(ngModel)]="showPalette">
        <div><div></div></div>
      </label></div>
    </div>
    <div class="bottuns" style="flex-grow: 0;">
      <button *ngIf="showPalette" type="submit" (click)="toggleEditMode()">
        <span *ngIf="!isEdit">編集</span>
        <span *ngIf="isEdit">確定</span>
      </button>
      <button *ngIf="showPalette && character" (click)="addPalette()">
      追加
      </button>      
      <button *ngIf="showPalette && paletteIndex > -1" (click)="removePalette()">
      削除
      </button>      
    </div>
    <div class="character-add">
      <div class="control">
        <span>キャラクターリスト</span>
        <select style="width: 10em" [(ngModel)]="selectedCharacter">
          <option value="default">-追加対象の選択-</option>
          <option value="create">-新規作成(簡易)-</option>
          <option *ngFor="let gameCharacter of gameCharacters" style="font-weight: normal;" value="{{gameCharacter.identifier}}">{{gameCharacter.name}}</option>
        </select>
      </div>
      <button (click)="addList()">追加</button>
      <button (click)="removeList(sendFrom)">削除</button>
    </div>
  </div>
</div>
