<div class="flex-container">
  <div class="top">
    <div class="chat-tab">
      <form>
        <div class="chat-tab">
          <label *ngFor="let chatTab of chatMessageService.chatTabs">
            <input name="chat-tab" type="radio" value="{{chatTab.identifier}}" ng-control="options" [(ngModel)]="chatTabidentifier">
            <div>{{chatTab.name}}<badge *ngIf="chatTab.hasUnread" class="badge" [count]="chatTab.unreadLength"></badge></div>
          </label>
        </div>
      </form>
    </div>
    <div class="chat-input">
      <chat-input [chatTabidentifier]="chatTabidentifier" [isPalette]="true" 
      [(gameType)]="gameType" [(sendFrom)]="sendFrom" [(text)]="text" (chat)="sendChat($event)" #chatInput></chat-input>
    </div>
    <div *ngIf="!disableControl" class="character-control">
      <player-palette-control [sendFrom]="sendFrom" (chat)="sendChat($event)"></player-palette-control>
    </div>
  </div>
  <div #characterSelect class="character-select">
    <label>
      <img *ngIf="myPeer.image" class="imgicon" [src]="myPeer.image.url | safe: 'resourceUrl'" />
      <input name="chara-tab" type="radio" value="{{myPeer.identifier}}" [(ngModel)]="sendFrom">
      <div>{{myPeer.name}}</div>
    </label>
    <label *ngFor="let gameCharacter of characterPaletteList; index as i">
      <img *ngIf="gameCharacter.imageFile?.url.length > 0" class="imgicon" [src]="gameCharacter.imageFile.url | safe: 'resourceUrl'" />
      <input name="chara-tab" type="radio" tabindex="{{i}}" value="{{gameCharacter.identifier}}" [(ngModel)]="sendFrom">
      <div  (contextmenu)="displayContextMenu($event,gameCharacter); false">{{gameCharacter.name}}</div>
    </label>
  </div>
  <div *ngIf="!hidePalette && !isEdit" class="chat-pallete">
    <select class="palette" style="overflow-y: auto;" size="5" (input)="selectPalette($event.target.value)" (click)="clickPalette($event.target.value)" #chatPlette>
      <ng-container *ngIf="palette">
        <ng-container *ngFor="let palette of palette.getPalette()">
          <option value="{{palette}}" [style.color]="color">{{palette}}</option>
        </ng-container>
      </ng-container>
    </select>
  </div>
  <div *ngIf="!hidePalette && isEdit" style="flex-grow: 1; height: 0; min-height: 100px;">
    <textarea class="palette" style="resize: none;" [(ngModel)]="editPalette" placeholder="チャットパレット"></textarea>
  </div>
  <div class="bottom">
    <div class="bottuns" style="flex-grow: 0;">
      <button *ngIf="!hidePalette" type="submit" (click)="toggleEditMode()">
        <span *ngIf="!isEdit">チャットパレットの編集</span>
        <span *ngIf="isEdit">チャットパレットを確定</span>
      </button>
      <button type="submit"  (click)="removeList(sendFrom)">
        <span>リストから削除</span>
      </button>
    </div>
    <div class="control">
      <label style="font-size:12px;color: #444;">パレット非表示</label>
      <input type="checkbox" [(ngModel)]="hidePalette" />
    </div>
    <div class="character-add">
      <select style="max-width: 160px" [(ngModel)]="selectedCharacter">
        <option value="default">-キャラクターを選択-</option>
        <option *ngFor="let gameCharacter of gameCharacters" style="font-weight: normal;" value="{{gameCharacter.identifier}}">{{gameCharacter.name}}</option>
      </select>
      <button (click)="addList()">追加</button>
    </div>
  </div>
</div>
