@import url('https://fonts.googleapis.com/css2?family=Zen+Maru+Gothic:wght@500&display=swap');
.pedestal-inner {
  backface-visibility: hidden;
  position: absolute;
  height: 100%;
  width: 100%;
  box-sizing: border-box;
  border: solid 6px #FFCC80;
  border-radius: 25px;
}
.pedestal-inner.not-inventory {
  border-color: #80CCEE;
}

.pedestal-outer {
  backface-visibility: hidden;
  position: absolute;
  height: 100%;
  width: 100%;
  box-sizing: border-box;
  border: solid 2px #212121;
  border-radius: 25px;
}

.image {
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;

  width: 100%;
  height: auto;
  vertical-align: bottom;
}

.name-tag {
  box-sizing: border-box;
  font-size: 13px;
  padding: 2px 8px;
  border-radius: 12px;
  position: absolute;
  top: -26px;
}

.rotate-frame {
  bottom: 0;
  left: 0;
  right: 0;

  overflow: visible;
}

.rotate-inner {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;

  width: 100%;
  height: auto;

  overflow: visible;
}

.fornt-tag {
 backface-visibility: hidden;
}

.back-tag {
  position: absolute;
  top: 3px;
  backface-visibility: hidden;
  transform: rotateY(-180deg);
}

.altitude-indicator {
  font-size: 10px;
}
.elevation-indicator, .altitude-indicator {
  padding-left: 2px;
  color: black;
  text-shadow: whitesmoke 0px 0px 3px;
  backface-visibility: hidden;
}
.elevation-indicator {
  font-weight: bolder;
  font-size: 12px;
}

.chat-bubble {
  position: absolute;
  pointer-events: none;
  transform-origin: center calc(100% + 12px);
}

.chat-bubble p {
  box-sizing: border-box;
  display: inline-block;
  max-width: 100%;
  min-width: 130px;
  font-size: 12px;
  font-family: 'Zen Maru Gothic', sans-serif;
  font-weight: 500;
  background-color: #FFF;
  border: 1px solid;
  border-radius: 24px;
  margin: 0px;
  padding: 6px 12px;
  white-space: pre-wrap;
  word-break: break-word;
  overflow-wrap: anywhere;
  text-align: center;
}

.chat-bubble p.emote {
  text-align: center;
  font-size: 38px;
  font-weight: bold;
  font-family: "ヒラギノ角ゴ ProN W3", "Hiragino Kaku Gothic ProN", "メイリオ", "Meiryo", "verdana", sans-serif;
  border: none;
  background: none;
  min-width: 300px;
  -webkit-text-stroke: 2px #222;
  letter-spacing: -8px;
  white-space: pre-wrap;
  word-break: break-word;
}

.chat-bubble p.is-whisper {
  border-radius: 24px 12px;
  font-size: 12px;
  color: #FFF;
  background: rgba(64, 64, 64, 0.8);
  box-shadow: 0px 0px 2px 0px #ccc;
}

.chat-bubble p.is-whisper.emote {
  font-size: 38px;
  font-weight: bold;
  border: none;
  background: none;
  min-width: 200px;
  -webkit-text-stroke: 2px #555;
  box-shadow: none;
}

.chat-bubble p:after {
  box-sizing: border-box;
  content: '';
  position: absolute;
  margin: 0px;
  padding: 0px;
  line-height: 1;
	vertical-align: baseline;
  left: 50%;
  margin-left: -8px;
  bottom: -17px;
  border: 8px solid transparent;
  border-top-color: inherit;
}

.chat-bubble p.emote:after {
  border: 0px none transparent;
}

.chat-bubble p.is-whisper.emote:after {
  content: none;
}

.chat-bubble-buyo {
  transform-origin: center calc(100% + 8px);
  transition: all .2s ease;
  animation: chat-bubble-buyo 1.2s ease-in-out 0.1s infinite alternate;
  transform: scale3d(0.9, 0.9, 0.9);
}
.chat-bubble-buyo.back {
  transform-origin: center calc(100% + 8px);
  transition: all .2s ease;
  animation: chat-bubble-buyo-back 1.2s ease-in-out 0.1s infinite alternate;
  transform: rotateY(-180deg) scale3d(0.9, 0.9, 0.9);
}
.chat-bubble-buyo.emote {
  animation-duration: .6s;
}

@keyframes chat-bubble-buyo {
  0% {
    transform: scale3d(0.9, 0.9, 0.9);
  }
  100% {
    transform: scale3d(1, 1, 1);
  }
}

@keyframes chat-bubble-buyo-back {
  0% {
    transform: rotateY(-180deg) scale3d(0.9, 0.9, 0.9);
  }
  100% {
    transform: rotateY(-180deg) scale3d(1, 1, 1);
  }
}

.face-icon-box {
  display: inline-block;
  position: relative;
  border: 0px none;
  width: 36px;
  height: 36px;
  max-width: 36px;
  max-height: 36px;
  overflow: hidden;
  left: -20px;
  top: -18px;
  margin-right: -16px;
  margin-bottom: -22px;
  /* background: linear-gradient(-30deg, rgb(240, 218, 189), rgb(255, 244, 232)); */
}
.face-icon-box img {
  width: 100%;
  height: 100%;
  vertical-align: bottom;
  object-fit: cover;
  object-position: 50% 0%;
  border-radius: 0.4em;
}
/*
p.is-wisper .face-icon {
  background: rgb(48, 45, 45);
}
*/

.top-container {
  padding: 0;
}

.front-image {
  position: absolute;
  transform: translateZ(1px);
  bottom: 0;
  left: 0;
  right: 0;
}

.aura {
  position: absolute;
  transform: translateZ(0px);
  transition: filter 0.2s ease-in-out;
  bottom: 0;
  left: 0;
  right: 0;
}


