.container {
  width: 36px;
  height: 36px;
  font-size: 30px;
  color: #212121;
  border-radius:100%;
  text-align: center;
  background-color: #424242;
  border:2px solid #989898;
  box-shadow:6px 5px 8px -1px #212121 inset
}

.connect {
  color: #FFF;
  animation:3s linear infinite rotation;
}

@keyframes rotation{
  0%{ transform:rotate(0);}
  100%{ transform:rotate(360deg); }
}
