<div class="box" [ngClass]="{ 'direct-message': isDirect }">
  <div class="sendFrom">
    <chat-input-sendfrom [(sendFrom)]="sendFrom" [(color)]="color"></chat-input-sendfrom>
  </div>
  <div class="rightObject">
    <div class="null">
      <div class="setting"><chat-input-setting  [sendFrom]="sendFrom"  [(sendTo)]="sendTo"  [(gameType)]="gameType"></chat-input-setting></div>
    </div>
    <div class="chatSend">
      <form>
         <textarea class="chat-input" [(ngModel)]="text"
         placeholder='Enterで送信　Shift+Enterで改行　チャットパレットの色を優先' 
         [ngModelOptions]="{standalone: true}" (input)="onInput()" (keydown.enter)="sendChat($event)" #textArea>
        </textarea>
        <button type="submit" class="send" (click)="sendChat(null)"><b>SEND</b></button>
      </form>
    </div>
    <div class="writing-info">
      <ng-container *ngIf="0 < writingPeerNameAndColors.length">
        <span *ngFor="let peerNameAndColor of writingPeerNameAndColors; index as i" style="font-weight: bold;" [style.color]="peerNameAndColor.color">{{peerNameAndColor.name}}<span
            *ngIf="writingPeerNameAndColors.length !== (i + 1)">, </span></span>
        <span> が入力中...</span>
      </ng-container>
    </div>
  </div>
</div>
