<div class="help">
  <button style="float: right;" (click)="helpRoomControl()">?</button>
</div>
<div class="flex-box">
  <div class="flex-item">
    <div class="title">デフォルトダイスボット</div>
  <select *ngIf="diceBotInfosIndexed.length < 1" style="width: 16em;" [(ngModel)]="roomService.roomAdmin.gameType" [ngModelOptions]="{standalone: true}">
    <option value="" class="not-specified">ダイスボット指定なし</option>
    <option *ngFor="let diceBotInfo of diceBotInfos" value="{{diceBotInfo.script}}">{{diceBotInfo.game}}</option>
  </select>
  <select *ngIf="diceBotInfosIndexed.length > 0" style="width: 16em;" [(ngModel)]="roomService.roomAdmin.gameType" [ngModelOptions]="{standalone: true}">
    <option value="" class="not-specified">ダイスボット指定なし</option>
    <optgroup *ngFor="let group of diceBotInfosIndexed" class="dice-bot-group" label="{{group.index}}">
      <option *ngFor="let diceBotInfo of group.infos" value="{{diceBotInfo.script}}">{{diceBotInfo.game}}</option>
    </optgroup>
  </select>
  </div>  
  <div class="flex-item">
    <div class="title">デフォルトキャラクター</div>
    <div>
    <select name="template" style="width: 16em;" [(ngModel)]="gameCharacterService.template">
       <option *ngFor="let gameCharacter of gameCharacterService.list(false)"  
         value="{{gameCharacter.identifier}}">{{gameCharacter.name}}
       </option>
    </select>
  </div>
  <div class="flex-item">
    <div class="title">操作ログ</div>
    <div>カード、ダイスの操作ログを出力するタブを指定します。</div>
    <select style="width: 16em;" [(ngModel)]="roomService.roomAdmin.chatTab" [ngModelOptions]="{standalone: true}">
      <option value="" class="not-specified">ログを出力しない</option>
      <option *ngFor="let chatTab of chatTabs" value="{{chatTab.identifier}}">{{chatTab.name}}</option>
    </select>
    <ng-container *ngIf="roomService.roomAdmin.chatTab">
      <div>出力するデータを指定します</div>
      <div class="toggle"><label>ダイス操作ログ
        <input name="diceLog" type="checkbox" [(ngModel)]="roomService.roomAdmin.diceLog">
        <div><div></div></div>
      </label></div><br>
      <div class="toggle"><label>カード操作ログ
        <input name="cardLog" type="checkbox" [(ngModel)]="roomService.roomAdmin.cardLog">
        <div><div></div></div>
      </label></div><br>
    </ng-container>
  </div>  
  <div class="flex-item">
  <div class="title">アラーム</div>
  <input type="number" style="width:4em" name="alarmTime" [(ngModel)]="alarmTime"  />
  秒後  送信先:
  <select name="sendTo" style="width:10em" [(ngModel)]="sendTo" >
      <option value="" class="not-specified">全員</option>
      <option *ngFor="let peer of otherPeers" value="{{peer.identifier}}" [style.color]="peer.color" style="font-weight: bolder;">{{peer.name}}
      <ng-container *ngIf="peer === myPeer">（あなた）</ng-container>
    </option>
  </select>
  <button (click)="alarmSend()">送信</button>
  </div>
  <div class="flex-item">
    <div class="title">ルーム管理者</div>
    <div *ngIf="!roomService.roomAdmin.adminPassword; else enablePW">ルームマスター機能は無効になっています。</div>
  </div>
  <div class="flex-item">
    <div class="title">ルーム設定</div>
    <div *ngIf="!adminAuth; else editSetting">
     現在、下記の制御が有効になっています。
      <ul>
        <li *ngIf="roomService.roomAdmin.disableTableLoad">データアップロード禁止(キャラクター以外)</li>
        <li *ngIf="roomService.roomAdmin.disableCharacterLoad">データアップロード禁止(キャラクター)</li>
        <li *ngIf="roomService.roomAdmin.disableTableSetting">テーブル設定禁止</li>
        <li *ngIf="roomService.roomAdmin.disableTabSetting">チャットタブ設定禁止</li>
        <li *ngIf="roomService.roomAdmin.disableAllDataSave">部屋全データセーブ禁止</li>
        <li *ngIf="roomService.roomAdmin.disableSeparateDataSave">個別データセーブ禁止</li>
      </ul>
    </div>
  </div>
</div>

<ng-template #enablePW>
  ルームマスター機能有効です
  <div *ngIf="adminAuth; else auth">
    ルームマスターとして認証済みです。
  </div>
</ng-template>
<ng-template #auth>
  <div>
     <label class="control-text">ルームマスターパスワードを入力することで認証可能です。</label>
  </div>
  <input style="height: 1em;width: 8em;" type="text" [(ngModel)]="password">
  <button (click)="passwordAuth()">認証</button>
</ng-template>
<ng-template #editSetting>
      <div class="toggle"><label>データアップロード禁止(キャラクター以外)
        <input name="disableTableLoad" type="checkbox" [(ngModel)]="roomService.roomAdmin.disableTableLoad">
        <div><div></div></div>
      </label></div><br>
      <div class="toggle"><label>データアップロード禁止(キャラクター)
        <input name="disableCharacterLoad" type="checkbox" [(ngModel)]="roomService.roomAdmin.disableCharacterLoad">
        <div><div></div></div>
      </label></div><br>
      <div class="toggle"><label>テーブル設定禁止
        <input name="disableTableSetting" type="checkbox" [(ngModel)]="roomService.roomAdmin.disableTableSetting">
        <div><div></div></div>
      </label></div><br>
      <div class="toggle"><label>チャットタブ設定禁止
        <input name="disableTabSetting" type="checkbox" [(ngModel)]="roomService.roomAdmin.disableTabSetting">
        <div><div></div></div>
      </label></div><br>
      <div class="toggle"><label>部屋全データセーブ禁止
        <input name="disableAllDataSave" type="checkbox" [(ngModel)]="roomService.roomAdmin.disableAllDataSave">
        <div><div></div></div>
      </label></div><br>
      <div class="toggle"><label>個別データセーブ禁止
        <input name="disableSeparateDataSave" type="checkbox" [(ngModel)]="roomService.roomAdmin.disableSeparateDataSave">
        <div><div></div></div>
      </label></div><br>
</ng-template>
