.flex-box {
  width: 100%;
  display:flex;
  flex-flow: column wrap; 
  justify-content: flex-start;
}

.title {
  font-weight: bold;
  font-size:14px;
}

.title::before {
  content: "ãƒ»";
}

.flex-item {
  font-size:12px;
  margin: 0.4em 0;
}

.not-specified {
  color: gray;
}
