<div class="flex-box">
  <div class="room-info">
    <div class="title">ルーム基本情報</div>
    <ng-container *ngIf="!isStandalone ;else standalone">
      <div class="flex-item">
        <div class="item-name">
          ルーム名
        </div>
        <div class="item-data">
          <span style="font-weight: bold;">{{networkService.peerContext.roomName}}/{{networkService.peerContext.roomId}}</span>
        </div>
      </div>
      <div class="flex-item">
        <div class="item-name">
          パスワード
        </div>
        <div class="item-data">
          {{networkService.peerContext.password}}
        </div>
      </div>
      <div class="flex-item">
        <div class="item-name">
          ルームマスター
        </div>
        <div class="item-data">
          <span *ngIf="!enableAdmin">無効</span>
          <span *ngIf="enableAdmin">{{adminPlayer}}</span>
        </div>
      </div>
      <div class="flex-item">
        <div class="item-name">
          ダイスボット
        </div>
        <div class="item-data">
          <select *ngIf="diceBotInfosIndexed.length < 1" style="width: 16em;" [(ngModel)]="roomService.roomAdmin.gameType" [ngModelOptions]="{standalone: true}">
            <option value="" class="not-specified">ダイスボット指定なし</option>
            <option *ngFor="let diceBotInfo of diceBotInfos" value="{{diceBotInfo.script}}">{{diceBotInfo.game}}</option>
          </select>
          <select *ngIf="diceBotInfosIndexed.length > 0" style="width: 16em;" [(ngModel)]="roomService.roomAdmin.gameType" [ngModelOptions]="{standalone: true}">
            <option value="" class="not-specified">ダイスボット指定なし</option>
            <optgroup *ngFor="let group of diceBotInfosIndexed" class="dice-bot-group" label="{{group.index}}">
              <option *ngFor="let diceBotInfo of group.infos" value="{{diceBotInfo.script}}">{{diceBotInfo.game}}</option>
            </optgroup>
          </select>
        </div>
      </div>
    </ng-container>
  </div>
  <div class="room-info">
    <div class="title">ルーム設定</div>
    <div class="flex-item">
      <div class="item-name">
        アラーム
      </div>
      <div class="item-data">
        <div><input type="number" style="width:4em" name="alarmTime" [(ngModel)]="alarmTime"  />秒後</div> 
        <div>送信先:
        <select name="sendTo" style="width:10em" [(ngModel)]="sendTo" >
          <option value="" class="not-specified">全員</option>
          <option *ngFor="let peer of otherPeers" value="{{peer.identifier}}" [style.color]="peer.color" style="font-weight: bolder;">{{peer.name}}
            <ng-container *ngIf="peer === myPeer">（あなた）</ng-container>
          </option>
        </select>
        <button style="padding: 0.1em 0.4em;" (click)="alarmSend()">送信</button></div>
      </div>
    </div>
    <div class="flex-item">
      <div class="item-name">
        操作ログ
      </div>
      <div class="item-data">
        <select style="width: 16em;" [(ngModel)]="roomService.roomAdmin.chatTab" [ngModelOptions]="{standalone: true}">
          <option value="" class="not-specified">ログを出力しない</option>
          <option *ngFor="let chatTab of chatTabs" value="{{chatTab.identifier}}">{{chatTab.name}}</option>
        </select>
        <ng-container *ngIf="roomService.roomAdmin.chatTab">
          <div>出力するデータを指定します</div>
          <div class="toggle"><label>ダイス操作ログ
            <input name="diceLog" type="checkbox" [(ngModel)]="roomService.roomAdmin.diceLog">
            <div><div></div></div>
          </label></div><br>
          <div class="toggle"><label>カード操作ログ
            <input name="cardLog" type="checkbox" [(ngModel)]="roomService.roomAdmin.cardLog">
            <div><div></div></div>
          </label></div><br>
        </ng-container>
      </div>
    </div>
    <div class="flex-item">
      <div class="item-name">
        キャラクター<br>テンプレート
      </div>
      <div class="item-data">
        <select name="template" style="width: 16em;height: 1.5em;" [(ngModel)]="gameCharacterService.template">
          <option *ngFor="let gameCharacter of gameCharacterService.list(false)"  
            value="{{gameCharacter.identifier}}">{{gameCharacter.name}}
          </option>
        </select>
      </div>
    </div>
  </div>
  <div class="item-data">
    <div class="title">ルーム権限</div>
    <div *ngIf="!adminAuth || roomService.roomAdmin.adminPlayer.length < 1; else editSetting">
     現在、下記の制御が有効になっています。
      <ul>
        <li *ngIf="roomService.roomAdmin.disableRoomLoad">ルームデータアップロード禁止</li>
        <li *ngIf="roomService.roomAdmin.disableTabletopLoad">データアップロード禁止(オブジェクト)</li>
        <li *ngIf="roomService.roomAdmin.disableObjectLoad">データアップロード禁止(その他)</li>
        <li *ngIf="roomService.roomAdmin.disableImageLoad">画像アップロード禁止</li>
        <li *ngIf="roomService.roomAdmin.disableAudioLoad">音楽アップロード禁止</li>
        <li *ngIf="roomService.roomAdmin.disableTableSetting">テーブル設定禁止</li>
        <li *ngIf="roomService.roomAdmin.disableTabSetting">チャットタブ設定禁止</li>
        <li *ngIf="roomService.roomAdmin.disableAllDataSave">部屋全データセーブ禁止</li>
        <li *ngIf="roomService.roomAdmin.disableSeparateDataSave">個別データセーブ禁止</li>
      </ul>
    </div>
  </div>
  <div class="help">
    <button (click)="helpRoomControl()">?</button>
  </div>  
</div>

<ng-template #standalone>
  単独接続モードでログインしています
</ng-template>
<ng-template #editSetting>
  <div>
    <div class="toggle"><label>ルームデータアップロード禁止
      <input name="disableRoomLoad" type="checkbox" [(ngModel)]="roomService.roomAdmin.disableRoomLoad">
      <div><div></div></div>
    </label></div><br>
    <div class="toggle"><label>データアップロード禁止(オブジェクト)
      <input name="disableTabletopLoad" type="checkbox" [(ngModel)]="roomService.roomAdmin.disableTabletopLoad">
      <div><div></div></div>
    </label></div><br>
    <div class="toggle"><label>データアップロード禁止(その他)
      <input name="disableObjectLoad" type="checkbox" [(ngModel)]="roomService.roomAdmin.disableObjectLoad">
      <div><div></div></div>
    </label></div><br>
    <div class="toggle"><label>画像アップロード禁止
      <input name="disableImageLoad" type="checkbox" [(ngModel)]="roomService.roomAdmin.disableImageLoad">
      <div><div></div></div>
    </label></div><br>
    <div class="toggle"><label>音楽アップロード禁止
      <input name="disableAudioLoad" type="checkbox" [(ngModel)]="roomService.roomAdmin.disableAudioLoad">
      <div><div></div></div>
    </label></div><br>
    <div class="toggle"><label>テーブル設定禁止
      <input name="disableTableSetting" type="checkbox" [(ngModel)]="roomService.roomAdmin.disableTableSetting">
      <div><div></div></div>
    </label></div><br>
    <div class="toggle"><label>チャットタブ設定禁止
      <input name="disableTabSetting" type="checkbox" [(ngModel)]="roomService.roomAdmin.disableTabSetting">
      <div><div></div></div>
    </label></div><br>
    <div class="toggle"><label>部屋全データセーブ禁止
      <input name="disableAllDataSave" type="checkbox" [(ngModel)]="roomService.roomAdmin.disableAllDataSave">
      <div><div></div></div>
    </label></div><br>
    <div class="toggle"><label>個別データセーブ禁止
      <input name="disableSeparateDataSave" type="checkbox" [(ngModel)]="roomService.roomAdmin.disableSeparateDataSave">
      <div><div></div></div>
    </label></div><br>
  </div>
</ng-template>
