.log {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: flex-end;
  background-color: rgba(255,255,255, 0.8);
  width: 100%;
  height: 100%;
}

.virtual-scroll-container {
  flex-shrink: 0;
  width: 100%;
}
