button {
  padding: 1px 6px;
  border: solid 2px;
}

.flex-box {
  width: 100%;
  display:flex;
  flex-flow: column wrap; 
  justify-content: flex-start;
}
.flex-item {
  width: 100%;
  display:flex; 
  flex-flow: row wrap; 
  justify-content:flex-start;
  font-size: 14px;
}
.item-name {
  width: 13em;
}
.item-data {
  display:flex; 
  flex-flow: row wrap; 
  justify-content:flex-start;

}

.image {
  padding: 0px;
  width: 64px;
  height: 64px;
  display: table-cell;
  vertical-align: top;
  border-radius: 0.6rem;
}

.image img{
  width: auto;
  height: auto;
  max-width:100%;
  max-height:100%;
  vertical-align: bottom;
}

.cover {
  background-position: center top;
  background-repeat: no-repeat;
  background-size: cover;
}

.id-spacer  {
  position: absolute;
  visibility: hidden;
  pointer-events: none;
  height: 0;
  padding: 0 3px;
  box-sizing: border-box;
  border-color: transparent;
  border-radius: 3px;
  border-width: 2px;
  border-style: solid;
  font-family: Cambria, Georgia;
  font-size: larger;
  font-weight: bolder;
}

.id-input {
  width: 100%;
  background: none;
  border: none;
  border-radius: 2px;
  outline: none;
  color: #EEE;
  font-family: Cambria, Georgia;
  font-size: larger;
  padding: 2px;
  box-sizing: border-box;
  border-color: transparent;
  border-radius: 3px;
  border-width: 2px;
  border-style: solid;
  font-weight: bolder;
}

.id-input:active, .id-input:hover {
  border-color: #444;
}

.copied {
  font-size: smaller;
  opacity: 0;
}
