<div class="flex-box">
  <div class="flex-item">
    <div class="item-name">
      プレイヤーアイコン
    </div>
    <div class="item-data">
      <div *ngIf="myPeer.image" class="image cover" [style.background-image]="'url(' + myPeer.image.url + ')' | safe: 'style' "
      (click)="changeIcon()">
      </div>
      <button (click)="changeIcon()">変更</button>
    </div>
  </div>
  <div class="flex-item">
    <div class="item-name">
      あなたの色
    </div>
    <div class="item-data">
      <input type="color" style="width:2em; height:2.5em;" [(ngModel)]="myPeerColor">
      <button (click)="colorReset()" >初期化</button>
    </div>
  </div>
  <div class="flex-item">
    <div class="item-name">
      ニックネーム
    </div>
    <div class="item-data">
      <input [(ngModel)]="myPeerName" [style.color]="myPeerColor" style="font-weight: bolder;" placeholder="ニックネーム" />
    </div>
  </div>
  <div class="flex-item">
    <div class="item-name">
    あなたのID
    </div>
    <div class="item-data">
      <div *ngIf="networkService.isOpen; else disconnect">
        <span>{{ networkService.peerContext.userId }}</span>
      </div>
    </div>
  </div>
  <div class="flex-item">
    <div class="item-name">
      bcdiceサーバ
    </div>
    <div class="item-data">
      <span *ngIf="this.diceBotService.isConnect; else disconnect">接続済み</span>
    </div>
  </div>
  <div class="flex-item" *ngIf="networkService.peerContext.isRoom">
    <div class="item-name">
      ルーム名
    </div>
    <div class="item-data">
      <span style="font-weight: bold;">{{networkService.peerContext.roomName}}/{{networkService.peerContext.roomId}}</span>
    </div>
  </div>
  <div class="flex-item" *ngIf="networkService.peerContext.isRoom">
    <div class="item-name">
      パスワード
    </div>
    <div class="item-data">
      {{networkService.peerContext.password}}
    </div>
  </div>
</div>
<hr/>
<div *ngFor="let context of networkService.peerContexts">
  <div>
    <span *ngIf="!context.isOpen">[接続中]</span>
    <span style="font-size: 12px;" [ngStyle]="{'color':peerStatus(context.peerId)}" class="material-icons">
      light_mode
    </span>
    <span>他の参加者：{{findUserId(context.peerId)}} [<b [style.color]="findPeerColor(context.peerId)">{{findPeerName(context.peerId)}}</b>]</span>
  </div>
</div>
<div><span style="font-size: 12px;">{{help}}</span></div>
<ng-template #disconnect>
  <span style="font-weight: bold;">未接続</span>
</ng-template>
