.main {
  margin: -3px;
  padding: 0;
  display: flex;
  flex-direction: column; 
  height: 100%;
  width: 100%;
}

.menu {
  height: 30px;
  width: 100%;
  display:flex; 
  flex-direction: row; 
  justify-content:space-between;
}

.message {
  font-size: 14px;
}

.pos-list {
  height: 120px;
  width: 100%;
  position: relative;
}

.image{
  position: absolute;
  top: 0px;
  width: 75px;
  height: 75px;
  vertical-align: bottom;
  object-fit: cover;
  object-position: 50% 0%;
  border-radius: 0.5rem;
}

.scale {
  position: absolute;
  bottom: 0px;
  font-size: 10px;
}
