@import url('https://fonts.googleapis.com/css2?family=Zen+Maru+Gothic:wght@500&display=swap');
.pedestal-inner {
  backface-visibility: hidden;
  position: absolute;
  height: 100%;
  width: 100%;
  box-sizing: border-box;
  border: solid 6px #FFCC80;
  border-radius: 25px;
}
.pedestal-inner.not-inventory {
  border-color: #80CCEE;
}

.pedestal-outer {
  backface-visibility: hidden;
  position: absolute;
  height: 100%;
  width: 100%;
  box-sizing: border-box;
  border: solid 2px #212121;
  border-radius: 25px;
}

.image {
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;

  width: 100%;
  height: auto;
  vertical-align: bottom;
}

.name-tag {
  box-sizing: border-box;
  font-size: 13px;
  padding: 2px 8px;
  border-radius: 12px;
  position: absolute;
  top: -26px;
}

.rotate-frame {
  bottom: 0;
  left: 0;
  right: 0;

  overflow: visible;
}

.rotate-inner {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;

  width: 100%;
  height: auto;

  overflow: visible;
}

.fornt-tag {
 backface-visibility: hidden;
}

.back-tag {
  position: absolute;
  top: 3px;
  backface-visibility: hidden;
  transform: rotateY(-180deg);
}

.altitude-indicator {
  font-size: 10px;
}
.elevation-indicator, .altitude-indicator {
  padding-left: 2px;
  color: black;
  text-shadow: whitesmoke 0px 0px 3px;
  backface-visibility: hidden;
}
.elevation-indicator {
  font-weight: bolder;
  font-size: 12px;
}

.top-container {
  padding: 0;
}

.front-image {
  position: absolute;
  transform: translateZ(1px);
  bottom: 0;
  left: 0;
  right: 0;
}

.aura {
  position: absolute;
  transform: translateZ(0px);
  transition: filter 0.2s ease-in-out;
  bottom: 0;
  left: 0;
  right: 0;
}


