@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

::-webkit-scrollbar {
  width: 11px;
}
::-webkit-scrollbar-thumb {
  background-color: #000;
  border-radius: 5px;
}
::-webkit-scrollbar-track {
  background: #dcdcdc;
}

.handle {
  top: 0px;
  height: 25px;
  box-sizing: border-box;
  background-color:#212121;
  box-shadow:0px -3px 3px -2px #FFF inset;
  color: #FFF;
  border-top:solid 1px #FFF;
  border-bottom:solid 2px #FFF;
  padding:0;
  margin:0;
  position: absolute;
  width: 240px;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: 0.2s;
}

.normal {
  font-size: 14px;
  background-color: #212121;
  color: white;
}
.alert {
  font-size: 14px;
  animation: flash 1s linear infinite;
  background-color: #BA3030;
  color: white;
}

@keyframes flash {
  0% {
    opacity: 1;
  }

  50% {
    opacity: 0;
  }


  100% {
    opacity: 1;
  }
}

.content {
  position: absolute;
  box-sizing: border-box;
  top:0px;
  width: 240px;
  height: 0px;
  overflow:auto;
  transition: 0.2s;
  background: #424242;
  background-size: 10px 10px;
  background-position: 0 0, 5px 5px;
  background-image:
	 linear-gradient(45deg,  #212121 25%, #212121 25%, transparent 25%,
	  transparent 75%, #212121 75%, #212121 75%),
	 linear-gradient(-135deg, #212121 25%, #212121 25%, transparent 25%,
	  transparent 75%, #212121 75%, #212121 75%);
}

.box {
  display: flex;
  justify-content: center;
  flex-direction: column;
  flex-wrap: nowrap;
}

.card {
  position:relative;
  font-family: 'Roboto', sans-serif;
  margin: 12px;
  padding: 0.5rem ;
  border: solid 1px black;
  width: 180px;
  height: 40px;
  border-radius:  4px;
  background-color: #EEE;
  color: black;
  font-size:14px;
  box-shadow: 5px 5px 5px #222;
}

.secret {
  color: #666;
}

.secret::before {
  font-family: 'Material Icons';
  color: #222;
  font-size:12px;
  content: "\e899";
}

.update::after {
  position: absolute;
  top: 4px;
  right: 8px;
  color: #FF4500;
  font-size:8px;
  content: "Update";
}

.new::after {
  position: absolute;
  top: 4px;
  right: 8px;
  color: red;
  font-size:8px;
  content: "New!";
}
