.content {
  width: 100%;
  background: none;
  display: flex;
  align-items: center;
  flex-direction: column;
  flex-wrap: nowrap;
}

.card {
  position:relative;
  font-family: 'Noto Sans JP', sans-serif;
  font-weight: 700;
  margin: 12px;
  padding: 0.5rem ;
  border: solid 1px black;
  width: 260px;
  height: 40px;
  border-radius:  4px;
  background-color: #EEE;
  color: black;
  font-size:14px;
  box-shadow: 5px 5px 5px #222;
}

.secret {
  color: #666;
}

.secret::before {
  font-family: 'Material Icons';
  color: #222;
  font-size:12px;
  content: "\e899";
}

.update::after {
  position: absolute;
  top: 4px;
  right: 8px;
  color: #FF4500;
  font-size:8px;
  content: "Update";
}

.new::after {
  position: absolute;
  top: 4px;
  right: 8px;
  color: red;
  font-size:8px;
  content: "New!";
}
