.flex {
  display: flex;
  flex-direction: column;
  height: 100%;
}

.demo {
  display: flex;
  flex-direction: row;
  width: 100%;
  height: 220px;
  align-items: center
}
.canvas {
  float: left;
}

.selecter {
  float: right;
  padding: 0px 5px
}

.bottom {
 font-size: 14px; 
}

