<div class="frame">
  <div class="title">
    {{character.name}} - チャットパレット
  </div>
  <div class="menu">
    <button>メイン</button>
    <button *ngFor="let palette of character.subPalette.palettes">
      {{palette.paletteLines[0].palette}}
    </button>
    <button>追加</button>
  </div>
  <div style="position:relative;">
    <div class="hidden-spacer" aria-hidden="true">
      {{editPalette + '\u200b'}}
    </div>
    <textarea [class]="bgColor" class="palette"  [(ngModel)]="editPalette" placeholder="チャットパレット"></textarea>
  </div>
</div>
