.container {
  width: 100%; 
  height: 100%; 
}

.menu {
  position: absolute;
  left: 0px;
  top: 0px;
  z-index: 100;
  width: 100%; 
  height: 40px; 
  overflow: hidden;
  display:flex; 
  flex-diretion: row; 
  justify-content:space-between;
  padding: 6px 12px;
  background:linear-gradient(0deg, #212121 5%, #424242 15%, #FAFAFA 40%, #424242 55%, #212121 95% 100%);
}

.game-table {
  position: absolute;
  left: 0px;
  top: 40px;
  width: 100%;
  height: calc(100vh - 40px);
  overflow: hidden;
}

.select {
  padding: 6px;
  margin: 2px 4px;
  font-size: 14px;
  color: #FFF;
  background: #424242;
  background-size: 10px 10px;
  background-position: 0 0, 5px 5px;
  background-image:
	 linear-gradient(45deg,  #212121 25%, #212121 25%, transparent 25%,
	  transparent 75%, #212121 75%, #212121 75%),
	 linear-gradient(-135deg, #212121 25%, #212121 25%, transparent 25%,
	  transparent 75%, #212121 75%, #212121 75%);
  border:2px solid #989898;
  box-shadow:6px 5px 8px -1px #212121 inset;
}

.left {
  padding: 0px;
  margin: 0px;
  display:flex; 
  flex-diretion: row; 
  justify-content: flex-start;
}

.right {
  padding: 0 24px 0 0;
  margin: 0px;
  display:flex; 
  flex-diretion: row; 
  justify-content: flex-end;
}

.subMenu {
  position: absolute;
  z-index: 40;
  display: none;
}

