<div style="width:98%">
  <div>ルーム名 : <input class="input" (input)="calcPeerId($event.target.value, password)" [(ngModel)]="roomName" required minlength="1" maxlength="128" #roomNameValidation="ngModel"
      placeholder="ルームの名前は必須" /></div>
  <div>パスワード: <input class="input" (input)="calcPeerId(roomName, $event.target.value)" [(ngModel)]="password" maxlength="12" #passwordValidation="ngModel" placeholder="空ならパスワードなし" 
    /></div>
  <div>
    <span style="font-size: 12px;">ルームマスター権限を使用する</span>
    <div class="toggle"><label>
      <input name="roomAdmin" type="checkbox" [(ngModel)]="roomAdmin">
      <div><div></div></div>
    </label></div>
    <span *ngIf="roomAdmin">ルームマスターパスワード<input [(ngModel)]="adminPassword" maxlength="10" placeholder="入力必須"/></span>
  </div>
  <hr/>
  <div *ngIf="roomNameValidation.errors && (roomNameValidation.dirty || roomNameValidation.touched)">
    <div [hidden]="!roomNameValidation.errors.required">
      ルームの名前は必須です。
    </div>
    <div [hidden]="!roomNameValidation.errors.minlength">
      ルームの名前は必須です。
    </div>
    <div [hidden]="!roomNameValidation.errors.maxlength">
      ルーム名前の長さは128以内にしてください。
    </div>
  </div>
  <div *ngIf="passwordValidation.errors && (passwordValidation.dirty || passwordValidation.touched)">
    <div [hidden]="!passwordValidation.errors.maxlength">
      パスワードの長さは12以内にしてください。
    </div>
  </div>
  <div *ngIf="!validateLength">
    ルームの名前とパスワードの合計が長すぎるようです。どちらかを少し短くしてみてください。
  </div>
  <div *ngIf="roomAdmin && adminPassword.length < 1">
    ルームマスター権限を利用する時はルームマスターパスワードの設定は必須です。
  </div>
  <div>
    <button [disabled]="!roomNameValidation.valid || !passwordValidation.valid || !validateLength || (roomAdmin && adminPassword.length < 1)" (click)="createRoom()">新しいルームを作成</button>
    <button (click)="cancel()">キャンセル</button>
  </div>
</div>
