div {
  padding: 0px;
  margin: 0px;
  text-align: center;
  font-weight: bold;
  font-size: 14px;
}

label {
  font-weight: bold;
}

.box {
}

.boxAlert {
 animation: flash 1s linear infinite;
 background:#BA3030;
}

@keyframes flash {
  0% {
    opacity: 1;
  }

  50% {
    opacity: 0;
  }
  
  
  100% {
    opacity: 1;
  }
}

