.writing-info {
  font-size: 8px;
  height: 20px;
  color: #FFF;
  padding: 0px 0px 0px 16px;
  margin: -3px 0 0 0;
}

.direct-message {
  background-color: rgba(20,20,20,0.6);
  color: #CCC;
}

.history-tag {
  position: absolute;
  font-size: 12px;
  height: 80px;
  width: 3em;
  box-sizing: border-box;
  top: 0px;
  left: 400px;
  z-index: 7;
  padding: 0;
  background-color: #444;
  border: solid #000;
  border-width: 2px 0;
}

.history-log {
  position: absolute;
  display: flex;
  flex-flow: column wrap;
  height:80px;
  width: 400px;
  box-sizing: border-box;
  top: -76px;
  left: -20px;
  z-index: 7;
  padding: 0;
  border: solid #000;
  border-width: 2px 0;
  background-color: #444;
}

.history-text {
  width: 200px;
  height: 15px;
  box-sizing: border-box;
  font-size: 12px;
  color: #fff;
  overflow: hidden;
  text-overflow: ellipsis;
  cursor: pointer;
  white-space: nowrap;
}

.currentLog {
  border: 1px dotted #CCC;
  background-color: #333;
}
