.flex-container {
  margin: -4px;
  margin-bottom: -8px;
  height: 100%;
}

.character-select {
  display: flex;
  flex-flow: row wrap;
  min-height : 32px;
  max-height : 64px;
  padding : 0 5px 0px 5px;
  user-select: none;
  background-color: rgb(34,35,38);
}

.character-select label {
  display: inline-flex;
  position: relative;
  margin: 3px;
  height: 25px;
}

.character-select input[type="radio"] {
  display: none;
}

.character-select input[type="radio"] + div {
  display: inline-block;
  vertical-align: middle;
  outline: 0;
  font-size: 11px;
  font-weight: bold;
  background-color: #444;
  color: #FFF;
  border: solid 1px #222;
  box-shadow:
    1px 1px 2px 0px #000,
    1px 1px 3px -2px #FFF inset;
  padding: 3px 8px;
  border-radius: 5px;
  cursor: pointer;
}

.character-select input[type="radio"] + div:hover {
  background-color: #666;
  border-color: #444;
}

.character-select input[type="radio"]:checked + div {
  background-color: #DDD;
  border-color: #222;
  color: #222;
  box-shadow:
    1px 1px 2px 0px #000 inset;
}

.imgicon {
  width: 25px;
  height: 25px;
  object-fit: contain;
}

.select-img {
  filter: drop-shadow(0 3px 3px #000);
}

.chat-pallete {
  flex-grow: 1;
  height: 0;
  min-height: 100px;
}

.palette {
  box-sizing: border-box;
  font-family: -apple-system, BlinkMacSystemFont, "Helvetica Neue", Verdana, Meiryo, sans-serif;
  width: 100%;
  height: 100%;
}

.palletebase {
  background-color: rgba(240, 240, 240, 0.9);
}

.bottom {
  height : 38px;
  display: flex;
  background-color: #444;
}

.edit-info {
  width: 100%;
  text-align: center;
  color: #CCC;
  background-color: rgba(30, 30, 30, 0.8);
}

.control {
  user-select: none;
  white-space:nowrap;
}



