.game-data-element{
  margin-left: 10px;
}
.table {
  display:table;
  width :100%;
  box-sizing: border-box;

}
.table-row {
  padding-top: 10px;
  display:table-row;
  box-sizing: border-box;
  }
.table-cell {
  display:table-cell;
  vertical-align: bottom;
  padding: 0.5em 0.0em 0.1em 0.5em;
  border-bottom:1px dotted #AAA;
  box-sizing: border-box;
}
.table-cell_solid {
  width :10px;
  white-space: nowrap;
}
.table-cell_inner-table {
  display:table-cell;
  vertical-align: bottom;
  padding: 0.2em 0.0em 0.1em 0.5em;
  border: none;
  box-sizing: border-box;
}
.table-cell_inner-table-title {
  border-bottom: 1px solid #CCF;
  border-left: 8px solid #FFF;
  padding-left:8px;
}
.box {
  display: inline-block;
  margin: 10px;
}
.hidden-spacer {
  visibility: hidden;
  height: 0;
  max-width : 20em;
  overflow: hidden;
  padding: 0 3px;
  box-sizing: border-box;
}

input, button, textarea, select{
  background: none;
  border: none;
  border-radius: 2px;
  outline: none;
  padding: 2px;
  box-sizing: border-box;
  font-size: 1.0em;
}

select {
  background: #222;
}

button i {
  font-size: 1.0rem;
}

.element-button {
  background-color: transparent;
}

.element-button::after {
  background:none;
}

.element-icon {
  position: relative;
}

.element-icon::after {
  -webkit-transition: all 0.2s;
  opacity: 0;
  position: absolute;
  transition: all 0.2s;
  visibility: hidden;
  z-index: 11;
  background: #222222;
  border-radius: 3px;
  color: #fff;
  content: attr(data-tooltip);
  display: block;
  font-size: 11px;
  left: 0;
  padding: 3px;
  top: 20px;
  white-space: nowrap;
	position: absolute;
	width: 10em;
	height: 1.6em;
}

.element-icon:hover {
  cursor: pointer;
}

.element-icon:hover::after {
  opacity: 1;
  visibility: visible;
}

.table-cell button{
  font-size: 0.5rem;
}

.modeifire-type {
  font-size: smaller;
}
