<!--<h2>チャットシステム</h2>-->
<div class="component"  [class]="bgColor">
<div *ngIf="!isEase ; else ease" class="log">
  <chat-tab *ngIf="chatTab" [chatTab]="chatTab" (onAddMessage)="scrollToBottom()" (edit)="messageEdit($event)" [localFontsize]="localFontsize" [bgColor]="bgColor"></chat-tab>
  <div *ngIf="!chatTab" [ngStyle]="{'color':bgColor == 'black' ? '#FFF' : '#222'}">※チャットタブの内容が更新されました。チャットタブを選択しなおすか、このチャットウィンドウを開きなおしてください。</div>
</div>
<div class="sticky-bottom">
  <div class="set-area">
    <div class="chat-tab">
      <form>
        <label *ngFor="let chatTab of chatMessageService.chatTabs; trackBy: trackByChatTab">
          <input name="chat-tab" type="radio" value="{{chatTab.identifier}}" ng-control="options" [(ngModel)]="chatTabidentifier">
          <div>{{chatTab.name}}<badge *ngIf="chatTab.hasUnread" class="badge" [count]="chatTab.unreadLength"></badge></div>
        </label>
      </form>
    </div>
    <div class="setting">
      <div class="auto-scroll">
        <span>自動スクロール</span>
        <div class="toggle"><label>
          <input name="autoScroll" type="checkbox" [(ngModel)]="canAutoScroll">
          <div><div></div></div>
        </label></div>
      </div>
      <button class="tab-setting small-font" (click)="showTabSetting()">チャット設定</button>
    </div>
  </div>
  <div *ngIf="isLogOnly && !isEdit">
    <ng-container [ngSwitch]="controlType">
      <ng-container *ngSwitchCase="'resource'">
        <player-palette-control class="character-Control" *ngIf="!disableControl" [sendFrom]="sendFrom" (chat)="sendChat($event)"></player-palette-control>
      </ng-container>
      <ng-container *ngSwitchCase="'inventory'">
        <simple-inventory></simple-inventory>
      </ng-container>
      <ng-container *ngSwitchDefault>
      </ng-container>
    </ng-container>
    <chat-input [isBlack]="isBlack" [chatTabidentifier]="chatTabidentifier" [(sendFrom)]="sendFrom" (chat)="sendChat($event)"></chat-input>
  </div>
  <chat-edit *ngIf="isLogOnly && isEdit" [isBlack]="isBlack" [chatMessage]="editMessage" (toggleEdit)="toggleEdit()"></chat-edit>
</div>
<ng-template #ease>
  <chat-tab-ease *ngIf="chatTab" [chatTab]="chatTab" (onAddMessage)="scrollToBottom()" [localFontsize]="this.localFontsize" [bgColor]="this.bgColor"></chat-tab-ease>
  <div *ngIf="!chatTab" [ngStyle]="{'color':bgColor == 'black' ? '#FFF' : '#222'}">※チャットタブの内容が更新されました。チャットタブを選択しなおすか、このチャットウィンドウを開きなおしてください。</div>
</ng-template>
