.white {
  background: #FFF;
}
.grey {
  background: #CCC;
}
.black {
  background: #212121;
}

.loop-anime {
  -webkit-animation: anime1 1.3s infinite ease-in-out;
  animation: anime1 1.3s infinite ease-in-out;
}
.component {
  min-height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-content: space-between;
  padding: 0px;
  margin: 0px;
  margin-right: -6px;
  margin-left: -6px;
  margin-bottom: -6px;
}

.container {
  width:100%;
  background-color: #444;
  box-shadow:-8px -8px 8px 1px #222 inset;
  border:none;
  border-right:2px solid #222;
  border-bottom:2px solid #222;
  border-bottom-right-radius: 10px;
}

.sticky-bottom {
  position: sticky;
  bottom : 0;
  z-index: 2;
  border-top: none;
}

.log {
  box-shadow:0px -2px 4px -1px #222;
}

.badge {
  position: absolute;
  bottom: 0;
  right: -2px;
}

.tab-setting {
  padding: 0.2em 1em;
  height: 2.8em;
}

.setting {
 border-top:2px solid #444;
 box-shadow:0px -2px 4px -1px #222;
 vertical-align: middle;
 white-space: nowrap;
}

.material-icons {
  vertical-align: middle;
  font-size: 1.0rem;
}

simple-inventory {
  height : 50px;
  padding: 0;
}



