.title {
  font-weight:bold;
}

.frame {
  width:100%;
  height:100%;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
}

.inventory {
  border-collapse:  collapse;
  text-indent: initial;
  border-spacing: 2px;
  table-layout: fixed;
  width:100%;
  font-size: 12px;
}

.inventory th {
  border: solid 1px;
  padding: 3px;
  display: table-cell;
  vertical-align: inherit;
  font-weight: bold;
  text-align: -internal-center;
  box-sizing: border-box;
}

.inventory td {
  border: solid 1px;
  padding: 3px;
  font-size: 14px;
  display: table-cell;
  vertical-align: inherit;
  box-sizing: border-box;
}

.center {
  text-align: center;
  margin-left: auto;
  margin-right: auto;
}
