.component {
  width: 100%;
}

.box {
  border: transparent 2px solid;
  border-left: transparent 6px solid;
  margin-top: 2px;
  padding: 2px;
  padding-bottom: 3px;
  box-sizing: border-box;

  border-bottom: 1px dotted #CCC;
}
.selected {
  padding: 2px;
  border: 2px dotted #666;
  border-left: 6px solid #DDD;
}

.hidden-spacer {
  visibility: hidden;
  height: 0;
  font-size: 1.0em;
  min-width:1em;
  max-width : 12em;
  overflow: hidden;
  padding: 0 2px;
  box-sizing: border-box;
  white-space: nowrap;
}

.input {
  background: none;
  border: none;
  border-radius: 2px;
  outline: none;
  color: #EEE;
  padding: 2px;
  box-sizing: border-box;
}

.tab {
  padding : 5px;
  user-select: none;
}

.tab {
  padding : 0px;
  border: solid 1px #000;
  border-radius: 0.3em;
  overflow: hidden;

  display: flex;
  flex-flow:  row nowrap;
  justify-content: space-around;
  align-items: stretch;

  text-align: center;

  margin: 0px;
  max-width: 500px;

  background-color: #666;
}

.tab label {
  display: inline-block;
  flex: 1 0 auto;
  flex-grow: 1;
}

.tab label:hover {
  background-color: #AAA;
  color: #FFF;
  border-color: #444;
}

.tab label:checked {
  background: #444;
  color: #FFF;
}

.tab input[type="radio"] {
  display: none;
}

.tab input[type="radio"] + div {
  vertical-align: middle;
  outline: 0;
  font-size: 0.8em;
  background-color: transparent;
  color: #FFF;

  box-sizing: border-box;

  margin: 0px;
  padding: 2px 8px;

  cursor: pointer;
}

.tab input[type="radio"] + div:hover {
  background-color: #444;
  color: #eee;
  border-color: #555;
}

.tab input[type="radio"]:checked + div {
  background: #222;
  color: #FFF;
  font-size: 0.85em;
}

.is-sticky-top {
  position: sticky;
  top : 0;
  z-index: 2;
}

.tab-setting {
  background-color: transparent;
  color: #FFF;
  border: solid 1px #555;
  padding: 2px 8px;
  border-radius: 5px;
  cursor: pointer;
}

.tab-setting:hover {
  background-color: #888;
  color: #eee;
  border: solid 1px #555;
}

.small-font {
  font-size: 12px;
  vertical-align: middle;
}

.material-icons {
  vertical-align: middle;
  font-size: 1.0rem;
}

.table-cell {
  display: flex;
  flex-wrap: wrap;
  flex-flow: row;
}

.image-box {
  position: relative;
  padding: 0px;
  width: 40px;
  height: 40px;
  max-width: 32px;
  max-height: 32px;
  vertical-align: top;
}

.image-box img{
  position: absolute;
  width: 40px;
  height: 40px;
  vertical-align: bottom;
  object-fit: cover;
  object-position: 50% 0%;
}

.front-image {
  z-index: 0;
}

.aura {
  z-index: -1;
}

.inventory-object {
  font-size: 14px;
  display: inline-block;
  vertical-align: text-top;
}

.object-name {
  font-size: 0.8em;
  font-weight: bold;
  padding: 0 0.25em;
}

.object-tags-box {
  width:100%;
  display: flex;
  flex-flow: row wrap;
}

.object-tag {
  max-width: 8em;
  margin: 0 4px;
}

.initiative {
  display: inline-block;
  background-color: #222;
  border: solid 2px #66F;
  border-radius: 5px;
  margin: 1px;
  padding: 2px;
  font-size: 1em;
}
