.stand-image-container {
  position: absolute;
  display: inline-block;
  z-index: 1000000;
  transition: opacity 0.1s ease-in;
}

.is-ghostly {
  z-index: 900000;
}
.is-can-be-gone.is-ghostly {
  opacity: 0.5;
  filter: brightness(0.5);
}

.backyard {
  pointer-events: none;
  z-index: 0;
}

.name-tag {
  color: #222;
  background-color: #FFF;
  border: 4px solid #444;
  border-radius: 24px 24px 24px 24px;
  padding: 4px 12px;
  display: inline-block;
  white-space: nowrap;
  position: absolute;
  font-size: 16px;
  opacity: 0.9;
  z-index: 1000005;
}
.name-tag.is-ghostly {
  z-index: 900005;
}
.is-can-be-gone.name-tag.is-ghostly {
  opacity: 0.5;
}

.name-tag.backyard {
  z-index: 1;
}

.is-can-be-gone.is-ghostly.backyard {
  opacity: 0.25;
}

.color-fillter {
  position: relative;
}

.stand-image {
  position: absolute;
  left: 0;
  top: 0;
}

.front-image {
  z-index: 1;
}

.aura {
  z-index: 0;
  transition: filter 0.2s ease-in-out;
}

.secret .color-fillter {
  filter: grayscale(80%);
}

.name-tag.dialog {
  border-radius: 24px 24px 24px 12px;
}
.name-tag.dialog-secret {
  border-radius: 24px 12px 24px 12px;
  background: rgba(64, 64, 64, 0.9);
}
.name-tag.dialog.is-position-left {
  border-radius: 24px 24px 12px 24px;
}
.name-tag.dialog.dialog-secret.is-position-left {
  border-radius: 12px 24px 12px 24px;
}
/*
.stand-image-container, .name-tag {
  transition: left 0.1s linear;
}
*/
.emote {
  text-align: center;
  font-size: 48px;
  font-weight: bold;
  border: none;
  background: none;
  -webkit-text-stroke: 2px #222;
  white-space: pre-wrap;
  word-break: break-word;
}

.emote.emote-secret {
  -webkit-text-stroke: 2px #555;
}
.emote.emote-secret.is-ghostly {
  z-index: 900005;
}
/* なぜかz-indexの上書きがいる */
.emote {
  z-index: 1000005;
}
.emote.is-ghostly {
  z-index: 900005;
}

.dialog p {
  overflow-wrap: anywhere;
  word-break: break-word;
  display: inline-block;
  margin-top: 0.5em;
  margin-bottom: 0.5em;
  font-family: 'Zen Maru Gothic', sans-serif;
  font-weight: 500;
  font-size: 16px;
}

.dialog.is-position-right:after {
  box-sizing: border-box;
  content: '';
  position: absolute;
  margin: 0px;
  padding: 0px;
  line-height: 1;
	vertical-align: baseline;
  bottom: -25px;
  border: 12px solid transparent;
  border-top-color: inherit;
  left: 17px;
  margin-left: -12px;
}
.dialog.is-position-left:before {
  box-sizing: border-box;
  content: '';
  position: absolute;
  margin: 0px;
  padding: 0px;
  line-height: 1;
	vertical-align: baseline;
  bottom: -25px;
  border: 12px solid transparent;
  border-top-color: inherit;
  right: 17px;
  margin-right: -12px;
}

@supports (-moz-user-select: -moz-none) {
  /* 汚いけどとりあえず */
  .dialog.is-position-right:after, .dialog.is-position-left:before {
    bottom: -39px !important;
  }
}

.chat-bubble-buyo {
  /* transform-origin: 12px calc(100% + 12px); */
  transition: transform .2s ease;
  animation: chat-bubble-buyo 1.2s ease-in-out 0.1s infinite alternate;
  transform: scale3d(0.9, 0.9, 0.9);
}
.chat-bubble-buyo.emote {
  animation-duration: .6s;
  transform-origin: center bottom;
}

@keyframes chat-bubble-buyo {
  0% {
    transform: scale3d(0.9, 0.9, 0.9);
  }
  100% {
    transform: scale3d(1, 1, 1);
  }
}


