.Counter-Make {
  display: flex;
  flex-direction: column;
  
}

.Make-Row {
  display: flex;
  flex-direction: row;
  width: 100%;
}

.title {
  font-size: 14px;
  width: 4em;
}

.Left {
  display: flex;
}

.Right {
 margin-left:auto;
}

.Counter-List{
  display: flex;
  flex-direction: row;
  flex-wrap : wrap;
  overflow: auto;
  width: 100%;
  height: 200px;
}

.Comment {
  display: flex;
  flex-direction: row;
  width: 100%
}

.desc {
  font-size: 12px;
}

.counter {
  position: relative;
  height:65px;
  width:65px;
  background-color:white;
  border:5px;
  border-color: black;
  border-radius:100%;
  font-weight: bold;
  color:black;
  font-size: 10px;
  display: flex;
  box-shadow: 4px 4px 4px black;
  align-items: center;
  justify-content: center;
  padding   : 3px;
  margin: 5px;
}

.chat-tab {
  height :25px;
  overflow: auto;
  padding : 0 5px 5px 5px;
  user-select: none;
}

.chat-tab label {
  display: inline-block;
  position: relative;
}

.chat-tab input[type="radio"] {
  display: none;
}

.chat-tab input[type="radio"] + div {
  display: inline-block;
  vertical-align: middle;
  outline: 0;
  font-size: 8px;
  background-color: transparent;
  color: #FFF; 
  border: solid 1px #DDD;
  padding: 2px 8px;
  margin: 2px;
  border-radius: 100px;
  cursor: pointer;
}

.chat-tab input[type="radio"] + div:hover {
  background-color: #888;
  color: #FFF;
  border: solid 1px #DDD;
}

.chat-tab input[type="radio"]:checked + div {
  background: #DDD;
  color: #222;
}
