table {
  border-collapse:  collapse;
  text-indent: initial;
  border-spacing: 2px;
  table-layout: fixed;
  width: 780px;
}

th {
  border: solid 1px; 
  padding: 3px;
  display: table-cell;
  vertical-align: inherit;
  font-weight: bold;
  text-align: -internal-center;
}

td {
  border: solid 1px; 
  padding: 3px;
  font-size: 14px;
  display: table-cell;
  vertical-align: inherit;
}

.center {
  text-align: center;
  margin-left: auto;
  margin-right: auto;
}

.character {
  background-color: rgba(255,255,255,0.8);
  background-size: contain;
  background-blend-mode:lighten;
  color: black;
}

.close {
  padding: 0px;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  width:30px;
  height:30px;
  background-color: red;
  color: white;
}
