table {
  border-collapse:  collapse;
  text-indent: initial;
  border-spacing: 2px;
  table-layout: fixed;
  width: 54em;
  font-size: 12px;
}

th {
  border: solid 1px; 
  padding: 3px;
  display: table-cell;
  vertical-align: inherit;
  font-weight: bold;
  text-align: -internal-center;
}

td {
  border: solid 1px; 
  padding: 3px;
  font-size: 14px;
  display: table-cell;
  vertical-align: inherit;
}

.center {
  text-align: center;
  margin-left: auto;
  margin-right: auto;
}

.character {
  background-color: rgba(255,255,255,0.8);
  background-position: center top;
  background-repeat: no-repeat;
  background-size: cover;
  background-blend-mode:darken;
  font-weight: bolder;
  color: #FFF;
}

.name {
  background-color: rgba(20,20,20,0.8);
}

.close {
  padding: 0px;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  width:30px;
  height:30px;
  background-color: red;
  color: white;
}
