<div class="test">
  <div *ngIf="!touched && !isLock ;else images">
    <select name="sendFrom" class="select" (change)="touch()" [(ngModel)]="sendFrom"
     [ngStyle]="{'color': getColor(), 'font-weight': (sendFrom != myPeer?.identifier ? 'normal' : 'bolder')}">
       <option value="{{myPeer?.identifier}}" [style.color]="myColor" style="font-weight: bolder;">{{myPeer?.name}}（あなた）</option>
       <option *ngFor="let gameCharacter of gameCharacters" 
          [style.color]="this.gameCharacterService.color(gameCharacter.identifier)" 
         value="{{gameCharacter.identifier}}">{{gameCharacter.name}}
       </option>
    </select>
  </div>
</div>
<ng-template #images>
  <div *ngIf="!character; else isCharacter" class="imagebox">
    <img *ngIf="0 < imageFile.url.length" class="image" [src]="imageFile.url | safe: 'resourceUrl'" />
  </div>
  <div class="text-space" (click)="canSelect()">
    <div *ngIf="!character;else characterName"><span class="name" [style.color]="getColor()">
      {{myPeer?.name}}
    </span><span class="tag">▼</span></div>
  </div>
    <ng-template #isCharacter>
      <div *ngIf="this.gameCharacterService.imageUrl(sendFrom,isUseFaceIcon)" class="imagebox">
        <span [ngClass]="this.gameCharacterService.effectClass(sendFrom)">
          <img class="image" [src]="this.gameCharacterService.imageUrl(sendFrom,isUseFaceIcon) | safe:'resourceUrl'"  [ngClass]="{'black-paint': character.isBlackPaint}">
        </span>
      </div>
    </ng-template>
</ng-template>
<ng-template #characterName>
  <span class="name" [style.color]="getColor()">
    {{character.name}}
  </span>
  <span class="tag">▼</span>
</ng-template>
