<div (contextmenu)="displayContextMenu($event); false"> 
   <ul>
      <li *ngIf="round == 0" (click)="add()">
        <a routerLink="/" routerLinkActive="active">
          <div><i class="material-icons icon-size">arrow_forward</i></div>
          <div>ラウンドを開始</div>
        </a>
      </li>
      <li *ngIf="round != 0" (click)="add()">
        <a routerLink="/" routerLinkActive="active">
          <div><i>{{round}}R</i></div>
          <div *ngIf="isInitiative && roundState != 0;else goRound">イニシアティヴを進める</div>
        </a>
      </li>
    </ul>
</div>
<ng-template #goRound>
ラウンドを進める
</ng-template>
