@import url('https://fonts.googleapis.com/css2?family=Sawarabi+Mincho&display=swap');

.content {
  width:100%;
  background-color: #444;
  font-size: 14px;
  padding: 2px 4px;
}

.volume-type {
  width: 100%;
  box-sizing: border-box;
  margin-top: 3px;
  margin-bottom: 3px;
}

.audio-player {
  width: 100%;
  height: 46px;
}

.player {
  content: "";
  height: 40px;
  margin: 3px 12px;
  background-color: #000;
  box-shadow:
  1px 1px 0 0 #CCC inset,
  -2px -2px 6px -3px #fff inset;
}

.control-panel {
  height: 42px;
  padding-bottom: 6px;
}

.play-list {
  overflow: auto;
  border:1px #000;
  box-shadow:3px 2px 4px -1px #222 inset;
  width: 100%;
  height: 320px;
  box-sizing: border-box;
}

.audio-name {
  display: inline-block;
  width: 20em;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  font-family: 'Sawarabi Mincho', serif;
  color: #fff;
  text-shadow: 1px 1px #000;
}

.card {
  position: relative;
  background-color: #222;
  border: solid 2px #222;
  box-shadow:
  1px 1px 1px 0 #CCC inset,
  -2px -2px 6px -3px #fff inset;
  padding: 8px 2em;
}

.card::after {
  position: absolute;
  top:9px;
  right:21px;
  font-size: 12px;
  content: attr(data-volume)
}

.card.playing {
  background-color: #333;
}

.card.play {
  border: solid 1px #F22;
  box-shadow:
  1px 1px 0 0 #CCC inset,
  -1px -1px 3px -2px #fff inset;
}

.edit {
  border:1px #000;
  box-shadow:3px 2px 4px -1px #212121 inset;
  width: 98%;
  height: 320px;
  box-sizing: border-box;
  padding: 1em;
}

.remove {
  background: none;
  background-color: darkred;
  color: #eee;
}
