@import url('https://fonts.googleapis.com/css2?family=Sawarabi+Mincho&display=swap');

.content {
  width:100%;
  background-color: #444;
  font-size: 14px;
  padding: 2px 4px;
}

.volume-type {
  width: 100%;
  box-sizing: border-box;
  margin-top: 3px;
  margin-bottom: 3px;
}

.audio-player {
  width: 100%;
  height: 46px;
}

.player {
  content: "";
  height: 40px;
  margin: 3px 12px;
  background-color: #000;
  box-shadow:
  1px 1px 0 0 #CCC inset,
  -2px -2px 6px -3px #fff inset;
}

.control-panel {
  height: 42px;
  padding-bottom: 6px;
}

.tag-menu {
  display: flex;
  height: 40px;
  box-sizing: border-box;
  flex-wrap: nowrap;
  overflow-x: scroll;
}

.tag-menu form {
  display: flex;
  height: 100%;
  flex-direction: row;
  align-items: flex-end;
  white-space: nowrap;
}

.tag-menu label {
  display: inline-block;
  position: relative;
}

.tag-menu input[type="radio"] {
  display: none;
}

.tag-menu input[type="radio"] + div {
  display: inline-block;
  vertical-align: bottom;
  outline: 0;
  background-color: #CCC;
  border: 1px #444;
  border-top-right-radius: 6px;
  border-top-left-radius: 6px;
  box-shadow:1px 1px 3px #FFF inset,
  0px -1px 3px #000 inset;
  font-weight: bolder;
  color: #222;
  padding: 4px 12px;
  padding-bottom : 2px;
  margin-top : 0px;
  cursor: pointer;
  height: 20px;
}

.tag-menu input[type="radio"] + div:hover {
  background-color: #999;
  border: 2px #444;
  border-bottom: none;
  box-shadow:1px 1px 3px #DDD inset;
  color: #222;
}

.tag-menu input[type="radio"]:checked + div {
  border: 2px #000;
  font-weight: bold;
  border-bottom: none;
  box-shadow:1px 1px 3px #DDD inset;
  background: #222;
  color: #FFF;
}

::-webkit-scrollbar {
  height: 10px;
  width: 10px;
}
::-webkit-scrollbar-thumb {
  background-color: #888;
  border: 1px #000;
  border-radius: 5px;
}
::-webkit-scrollbar-track {
  background: #333;
}

.play-list {
  overflow: auto;
  border:1px #000;
  box-shadow:3px 2px 4px -1px #222 inset;
  width: 100%;
  height: 320px;
  box-sizing: border-box;
}

.audio-name {
  display: inline-block;
  width: 20em;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  font-family: 'Sawarabi Mincho', serif;
  color: #fff;
  text-shadow: 1px 1px #000;
}

.card {
  position: relative;
  background-color: #222;
  border: solid 2px #222;
  box-shadow:
  1px 1px 1px 0 #CCC inset,
  -2px -2px 6px -3px #fff inset;
  padding: 8px 2em;
}

.card::after {
  position: absolute;
  top:9px;
  right:21px;
  font-size: 12px;
  content: attr(data-volume)
}

.card.playing {
  background-color: #333;
}

.card.play {
  border: solid 1px #F22;
  box-shadow:
  1px 1px 0 0 #CCC inset,
  -1px -1px 3px -2px #fff inset;
}

.edit {
  border:1px #000;
  box-shadow:3px 2px 4px -1px #212121 inset;
  width: 98%;
  height: 320px;
  box-sizing: border-box;
  padding: 1em;
}

.remove {
  background: none;
  background-color: darkred;
  color: #eee;
}
