.sticky-top {
  position: sticky;
  z-index: 2;
  top : 0;
  width: 100%;
  padding: 0px;
  margin: 0px;
  background-color: #444;
}

.upload {
  display: flex;
  flex-flow: row nowrap;
}

.half {
  width: 50%;
  box-sizing: border-box;
}

.drop-zone {
  box-sizing: border-box;
  border: 2px dashed #aaa;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  border-radius: 5px;
  padding: 18px;
  text-align: center;
  font: 24px bold 'Vollkorn';
  color: #fff;
  cursor: pointer;
}

.large-font {
  font-size: 64px;
}

.small-font {
  font-size: 12px;
}

.player {
  background-color: #212121;
  border: solid 3px #000;
  display: flex;
  flex-flow: column;
  font-size: 14px;
}

.player-control {
  display: flex;
  flex-flow: row;
  justify-content: space-between;
}

.left {
  width: 40%;
}
.center {
  width: 20%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.right {
  width: 40%;
}

.box {
  font-size: smaller;
  border-bottom:1px dotted #888;
  vertical-align: baseline;
}
.box.last {
  border-bottom:0px none transparent;
}

.volume {
  display: inline-block;
  width: 3em;
  text-align: right;
}

input[type=number] {
  text-align: right;
}

.sound-list {
  background: transparent;
  border-collapse:  collapse;
  table-layout: fixed;
  border: dotted 1px #aaa;
  width: 100%;
}

.sound-list th  {
  border: dotted 1px #aaa;
  background-color: #212121;
  font-size: 14px;
  vertical-align:text-bottom
}

.sound-list td  {
  border: dotted 1px #aaa;
  font-size: 12px;
}

.name {
  font-size: 12px;
  padding-left: 2px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.self-only {
  color: red;
}
button .self-only {
  vertical-align: text-top;
}

.box button {
  font-size: 12px;
  height: 2em;
  width: 3em;
  padding: 4px;
  margin-left: 0px;
  margin-right: 0px;
}
button .material-icons {
  font-size: 14px;
}

.sw-on{
  background:linear-gradient(#000,#222);
	color: #888;
}
.sw-on:after{
	content: '';
	background: transparent;
}

.stop {
  font-size: 12px;
  height: 2.5em;
  width: 2.5em;
  padding: 4px;
  margin-left: 0px;
  margin-right: 0px;
  border-radius: 100%;
}

.stop::after {
  background: none;
}

.marquee {
  width: 100%;
  overflow: hidden;
}

.marquee-text {
  transform: translateX(100%);
  animation: marquee 15s linear infinite;
  white-space: nowrap;
}

.remove {
  background: none;
  background-color: darkred;
  color: #eee;
  padding: 2px 4px;
}

.remove ::after {
  background: none;
}

@keyframes marquee {
  0% {
    -moz-transform: translateX(100%);
    -webkit-transform: translateX(100%);
    transform: translateX(100%);
  }
  100% {
    -moz-transform: translateX(-100%);
    -webkit-transform: translateX(-100%);
    transform: translateX(-100%);
  }
}
