.game-data-element{
  margin-left: 10px;
}
.table {
  display:table;
  width :100%;
  box-sizing: border-box;

}
.table-row {
  padding-top: 10px;
  display:table-row;
  box-sizing: border-box;
  }
.table-cell {
  display:table-cell;
  vertical-align: bottom;
  padding: 0.5em 0.0em 0.1em 0.5em;
  border-bottom:1px dotted #AAA;
  box-sizing: border-box;
}
.table-cell_solid {
  width :10px;
  white-space: nowrap;
}
.table-cell_inner-table {
  display:table-cell;
  vertical-align: bottom;
  padding: 0.2em 0.0em 0.1em 0.5em;
  border: none;
  box-sizing: border-box;
}
.table-cell_inner-table-title {
  border-bottom: 1px solid #CCF;
  border-left: 8px solid #FFF;
  padding-left:8px;
}
.box {
  display: inline-block;
  margin: 10px;
}
.hidden-spacer {
  visibility: hidden;
  height: 0;
  max-width : 20em;
  overflow: hidden;
  padding: 0 3px;
  box-sizing: border-box;
}

input, button, textarea, select{
  background: none;
  border: none;
  border-radius: 2px;
  outline: none;
  padding: 2px;
  box-sizing: border-box;
}

button i {
  font-size: 1.0rem;
}

.element-button {
  background-color: transparent;
}

.element-button::after {
  background: none;
}

.table-cell button{
  font-size: 0.5rem;
}

.modeifire-type {
  font-size: smaller;
}
